.node_modules
/node_modules/
/migrations/
*/migrations/*
.env
.base.py
*.pyc
*~zz 
*.swp
application.log
.idea/
.vscode/
test.png
*.lock
*.log
*.DS_Store
.google/*
*.iml
*.xml
*.cpython-312.pyc
*/__pycache__/*
*.pyc
.vs/
.pyc
.requirements.txt
.base.py
dev/*.pyc
*base.py
Dockerfile
docker_compose.yml
*.pyc
*.pyc
# .docker_compose
# .Dockerfile