{% load static%}

{% block content %}
    <nav class="d-flex flex-row justify-content-end align-items-center mb-2 w-100 border">
        <span>
            {% block title %}{% endblock %}
        </span>
        <!-- user and logout -->
        <div class='user mt-3  px-2 d-flex justify-content-end w-25'>
            <ul class="menu list-unstyled d-flex align-items-center">
                <li class="menu-link" id="notisBtn">
                    <small class='bx bxs-bell text-muted'></small>
                    <span class='badge text-danger' style='position:relative; top:-10px; left:-7px;'>{{ inv_notifications_count }}</span>
                </li>
                <li class="menu-link dropdown">
                    <small class="dropdown-toggle">{{request.user}}</small>
                    <ul class="dropdown-menu shadow w-50 bg-light">
                        <li class="dropdown-link">
                        <a href="{% url 'users:profile' %}" class="px-3 fs-6">Profile</a>
                        </li>
                        <li class="dropdown-link">
                            <a href="{% url 'users:logout' %}" class="px-3 fs-6">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class='px-2'>
                     {% if request.user.profile_image %}
                        <img class="rounded-circle" src="{{request.user.profile_image.url}}" width="25px"/>
                        {% else %}
                        <img class="rounded-circle" src="{% static 'assets/avatar.png'%}" width="25px"/>
                     {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock content %}
