{% load static %}
{% load inventory_filters %}

{% for product in products %}
    <tr>
        <td>
            <div class="d-flex gap-2">
                <div class="d-flex align-items-center justify-content-center">
                    {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="20px" class="rounded-3">
                        {% else %}
                            <img src="{% static 'placeholder.png'%}" alt="{{ product.name }}" width="20px" class="rounded-3">
                    {% endif %}
                </div>
                <div class="">
                    <span class="fs-6">{{ product.name }}</span>
                    <br>
                    <small class="text-muted p-1">
                    {% if product.description %}
                        {{ product.description }}
                    {% else %}
                        No description
                    {% endif %}
                    </small>
                    <br>
                    <span class=" p-1 fs-7 text-white rounded">
                        {% if product|calculate_gp  > 50.00 %}
                            <span class="text-white rounded" style="
                            background: var(--primary);">{{ product|calculate_gp }}%</span>
                        {% else %}
                            <span class="text-white rounded bg bg-danger">{{ product|calculate_gp }}%</span>
                        {% endif %}
                    </span>
                        <span class="text-primary">{{ product|calculate_average_sales }} sales/month</span>
                </div>
            </div>
        </td>
        <td>
            <div class="">
                <span>[{{ product.quantity }}]</span>
            </div>
        </td>
        <td>
            <div class="">
                <span>{{ product.cost }}</span>
            </div>
        </td>
        <td>
            <div class="">
                <span>${{ product.price }}</span>
            </div>
        </td>
        <td>
            <div class="">
                <span>${{ product.dealer_price }}</span>
            </div>
        </td>
        <td>
            <div class="">
                <span></span>
            </div>
        </td>
        <td>
            <div class="">
                <span>  
                <span>
                    <a href="{% url 'inventory:inventory_detail' product.id %}" class='text-dark'>
                        <i class='bx bx-show'></i>
                    </a>
                </span>
    
                <span class='px-2'>
                    <a href="{% url 'inventory:edit_inventory' product.id %}" class="text-dark">
                        <i class='bx bx-edit-alt'></i>
                    </a>
                </span>
                
                <span>
                    <span id='delete' data-id="{{ product.id }}" onclick="productId(this)" class="text-dark">
                        <i class='bx bx-trash-alt'></i>
                    </span>
                </span>

                <span>
                    {%if product.status == False %}
                    <a href='{% url "inventory:activate_inventory" product.id %}' class="btn btn-sm btn-primary text-primary">
                        activate
                    </a>
                    {% endif %}
                </span>

                 <span onclick="showProductAnalytics({{ product.id }})" class="me-1" title="View Analytics">
                   <i class='bx bx-line-chart'></i>
                </span>
            </div>
        </td>
    </tr>
{% endfor %}