{% load static%}
{% block content %}
<div class="table transfers-table mt-2">
    {% include 'components/loader.html' %}
    <div class='table-scroll'>
    <table class='table table-bordered border table-hover rounded hidden p-2' id='transfers' style="width: 100%;">
        <thead class="table-dark sticky-top">
            <tr>
                <th>Transfer</th>
                <th>Trans Qnty | Amnt trans</th>
                <th class='text-center'>Status</th>
                <th>User</th>
                <th>Reference</th>
                <th>Discrepancy</th>
                <th>Action</th>
            </tr>
        </thead>
            <tbody>
                {% for transfer in transfers %}
                    <tr class="{% if transfer.transfer_to == request.user.branch %}bg-success{% else %}transfer-btn{% endif %}">
                        <td style="background: #ecedee !important;">
                            {% if transfer.hold %}
                                <small class="d-flex align-items-center">
                                    <i class='bx bx-pause fs-2' style='color:#007bff'></i>
                                    <span class="ml-1">{{ transfer.time|date:"d/m/y H:i" }}</span>
                                </small>
                                {% else %}
                                    <small class='hint--bottom rounded-5 bg-danger border d-flex justify-content-center align-items-center' style="width: 30px; height: 30px;">
                                        <span class="text-light">{{ transfer.total_r_difference }}</span>
                                    </small>
                                {% endif %}
                            {% else %}
                                {% if  transfer.total_r_difference == 0 %}
                                <small>
                                    <img src="{% static 'assets/checkout.png' %}" width="30px">
                                </small>
                                {% else %}
                                    <small class='hint--bottom rounded-5 bg-danger border d-flex justify-content-center align-items-center' style="width: 30px; height: 30px;">
                                        <span class="text-light">{{ transfer.total_r_difference }}</span>
                                    </small>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="transfer-status">
                            <div class="d-flex align-items-center">
                                {% if request.user.branch in transfer.transfer_to.all %}
                                    <small class="d-flex align-items-center">
                                        <i class='bx bxs-right-arrow-alt text-success' style="font-size: 35px;"></i>
                                        <span class="ml-1">{{ transfer.time|date:"d/m/y H:i" }}</span>
                                    </small>
                                {% else %}
                                    <small class="d-flex align-items-center">
                                        <i class='bx bxs-left-arrow-alt' style="color: #dc3545eb; font-size: 35px;"></i>
                                        <span class="ml-1">{{ transfer.time|date:"d/m/y H:i" }}</span>
                                    </small>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="background: #ecedee !important;">
                            <small class="d-flex justify-content-between">
                                <span class="" style="width: 70px; display: block; position: relative;">
                                    <span style="float: left;">{{ transfer.total_received_qnt }}</span>
                                    <span>/</span>
                                    <span style="float: right;">{{ transfer.total_quantity }}</span>
                                </span>
                                {% if not request.user.role == 'sales' %}
                                    <span class="text-primary rounded" style="width: 140px; text-align: center;">
                                        <span style="float: left;">${{ transfer.total_received_amount|floatformat:2 }}</span>
                                        <span>/</span>
                                        <span style="float: right;">${{ transfer.total_amount|floatformat:2 }}</span>
                                    </span>
                                {% endif %}
                            </small>
                        </td>
                        <td style="background: #ecedee !important;" class='transfer-btn' data-id="{{ transfer.id }}"><small>{{ transfer.user.username }}</small></td>
                        <td style="background: #ecedee !important;" class='transfer-btn' data-id="{{ transfer.id }}"><small>{{ transfer.transfer_ref }}</small></td>
                        <td style="background: #ecedee !important;"></td>
                        <td style="background: #ecedee !important;" class='transfer-btn' data-id="{{ transfer.id }}">
                            <a href="{% url 'inventory:print_transfer' transfer.id %}" class="btn border btn-sm">
                                <i class='bx bx-printer '></i>
                            </a>
                            {% if transfer.hold %}
                                <a href="{% url 'inventory:process_held' transfer.id %}" class="btn border btn-outline-dark  btn-sm hint-bottom" aria-label="process transfer">
                                    <i class='bx bx-play' style='color:#0b0b0b' ></i>
                                </a>
                            {% else %}
                                <a href="#" class="btn border btn-outline-dark btn-sm">
                                    <i class='bx bx-stop' style='color:#0b0b0b' ></i>
                                </a>
                            {% endif %}
                            <button onclick="cancel({{ transfer.id }})" class="btn border btn-outline-dark bx bx-trash"></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Delete Transfer</h5>
                    <button class="btn btn-secondary w-100" onclick="deleteTransfer()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let transfer_id = ''
    const transferBtn = document.querySelectorAll('.transfer-btn');

    const expandBtn = document.querySelector('#id_expand')
    const itemsEl = document.querySelectorAll('#id_items')

    const loader = document.querySelector('#loader');
    const tableEl = document.querySelector('#transfers');

    const transferRows = document.querySelectorAll('.transfer-btn');
    const hooverProduct = document.querySelectorAll('#id_hover_product');

    const itemModal = new bootstrap.Modal(document.getElementById('itemsModal'));

    const rQuantity = document.getElementById('received_quantity');
    const tQuantity = document.getElementById('id_total_quantity');

    const rCost = document.getElementById('received_cost');
    const tCost = document.getElementById('id_total_cost');

    const actionModal = document.getElementById('ActionModal');
    const actModal = new bootstrap.Modal(document.getElementById('ActionModal'));
    const receiveModal = new bootstrap.Modal(document.getElementById('receiveModal'));
    const editModal = new bootstrap.Modal(document.getElementById('editModal'));

    rQuantity.textContent = total_quantity || 0;

    const showActionModal = (id, quantity) =>{
        transfer_id=id
        actModal.show()
    }

    const showEditModal = (id, quantity) =>{
        console.log(quantity)
        editItemId=id;
        document.getElementById('e_q').textContent=quantity;
        editModal.show()
    }

    // let page = 1;
    // let loading = false;

    // window.addEventListener('scroll', async () => {
    //     if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 1000 && !loading) {
    //         loading = true;
    //         page++;

    //         try {
    //             const response = await fetch(`/inventory/transfers?page=${page}`, {
    //                 headers: { 'x-requested-with': 'XMLHttpRequest' },
    //             });
                
    //             const data = await response.json();
    //             console.log(data)
    //             if (data.transfers) {
                    
    //                 const transfers = data.transfers
    //                 const tbody = document.querySelector('#transfers tbody'); 
    //                 const userBranch = Number("{{ request.user.branch.id }}");
    //                 const userRole = String({{request.user.branch.role}});

    //                 const loader = document.querySelector('#loader');
    //                 loader.style.display = 'block';

    //                 console.log(transfers)
                    
    //                 transfers.forEach(transfer => {
    //                     const row = document.createElement('tr');
    //                     let branch = false;
    //                     let change = transfer.transfer_to.includes({{request.user.branch.id}}) ? 'bg-success' : 'transfer-btn parent-row';
    //                     row.dataset.id = transfer.id;
                        

    //                     if (Array.isArray(transfer.transfer_to) && transfer.transfer_to.includes(userBranch)) {
    //                         branch = true;
    //                     } else {
    //                         branch = false;
    //                     }
    //                     row.innerHTML = `
    //                     <tr class="change" data-id='${transfer.id}' onclick="showChild(this)">
    //                         <td class="transfer-status" style="width: 50px;" data-id='${transfer.id}' onclick="showChild(this)">
    //                             ${transfer.total_r_difference === 0 ? 
    //                                 `<small><img src="{% static 'assets/check.png' %}" width="30px"></small>` : 
    //                                 `<small class='hint--bottom rounded-5 bg-danger border d-flex justify-content-center align-items-center' style="width: 30px; height: 30px;">
    //                                     <span class="text-light">${transfer.total_r_difference}</span>
    //                                 </small>`}
    //                         </td>
    //                         <td class="transfer-status" data-id='${transfer.id}'>
    //                             <div class="d-flex align-items-center">
    //                                 <small class='d-flex justify-content-center align-items-center'>
    //                                     <i class='bx bxs-${ branch ? 'right' : 'left'}-arrow-alt ${ branch  ? 'text-success' : ''}' style="font-size: 35px;"></i>
    //                                     <span class="ml-1">${new Date(transfer.time).toLocaleString()}</span>
    //                                 </small>
    //                             </div>
    //                         </td>
    //                         <td class="transfer-quantity" data-id='${transfer.id}'>
    //                             <small class="d-flex justify-content-between">
    //                                 <span class="" style="width: 70px; display: block; position: relative;">
    //                                     <span style="float: left;">${transfer.total_received_qnt}</span>
    //                                     <span>/</span>
    //                                     <span style="float: right;">${transfer.total_quantity}</span>
    //                                 </span>
    //                                 ${userRole !== 'sales' ? 
    //                                     `<span class="text-primary rounded" style="width: 140px; text-align: center;">
    //                                         <span style="float: left;">$${transfer.total_received_amount}</span>
    //                                         <span>/</span>
    //                                         <span style="float: right;">$${transfer.total_amount}</span>
    //                                     </span>` : ''}
    //                             </small>
    //                         </td>
    //                         <td class="transfer-user" data-id='${transfer.id}'><small>${transfer.username}</small></td>
    //                         <td class="transfer-reference" data-id='${transfer.id}'><small>${transfer.transfer_ref}</small></td>
    //                         <td class="transfer-description" data-id='${transfer.id}'><small>${transfer.description || "No description"}</small></td>
    //                         <td class="transfer-actions" data-id='${transfer.id}'>
    //                             <div class="btn-group">
    //                                 <a href="" class="btn border btn-sm">
    //                                     <i class='bx bx-printer'></i>
    //                                 </a>
    //                                 <button class="btn border mx-2 btn-outline-dark btn-sm">
    //                                     <i class='bx bx-trash'></i>
    //                                 </button>
    //                                 <a href="" class="btn border btn-sm">
    //                                     <i class='bx bx-plus'></i>
    //                                 </a>
    //                             </div>
    //                         </td>
    //                     </td>
    //                     `;

    //                     tbody.appendChild(row);
                
    //                     if (!data.has_next) {
    //                         // Disable further requests if no more pages
    //                         window.removeEventListener('scroll', arguments.callee);
    //                     }
    //                 });
    //             }
    //         } catch (error) {
    //             console.error('Failed to fetch data:', error);
    //         } finally {
    //             loading = false;
    //             // Hide loader after data is loaded
    //             loader.style.display = 'none';
    //         }
    //     }
    // });

    // const showChild = (el) => {
    //     const transferId = el.getAttribute('data-id');
    //     const childRow = document.querySelector(`.child-rows[data-parent-id="${transferId}"]`);
    //     const tbody = childRow.querySelector('tbody');
    //     tableBody = tbody
        
    //     let tds = parentRow.getElementsByTagName('td');

    //     // Loop through all <td> elements and apply the background color with !important
    //     for (let td of tds) {
    //         td.style.setProperty('background', '#5897fb59', 'important');
    //     }


    //     if (childRow.classList.contains('d-none')) {
    //         tbody.innerHTML = `<tr><td colspan="7" class="text-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></td></tr>`;
    //         childRow.classList.remove('d-none');
            
    //         showFetch(transferId, tbody)
    //     } else {
    //         childRow.classList.toggle('d-none');
    //         for (let td of tds) {
    //         td.style.setProperty('background', '#fff', 'important');
    //     }
    //     }
    // }


    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.parent-row').forEach(parentRow => {
            parentRow.addEventListener('click', function () {
                const transferId = this.getAttribute('data-id');
                const childRow = document.querySelector(`.child-rows[data-parent-id="${transferId}"]`);
                const tbody = childRow.querySelector('tbody');
                tableBody = tbody
                
                let tds = parentRow.getElementsByTagName('td');

                // Loop through all <td> elements and apply the background color with !important
                for (let td of tds) {
                    td.style.setProperty('background', '#5897fb59', 'important');
                }


                if (childRow.classList.contains('d-none')) {
                    tbody.innerHTML = `<tr><td colspan="7" class="text-center"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></td></tr>`;
                    childRow.classList.remove('d-none');
                    
                    showFetch(transferId, tbody)
                } else {
                    childRow.classList.toggle('d-none');
                    for (let td of tds) {
                    td.style.setProperty('background', '#fff', 'important');
                }
                }
            });
        });

        function populateChildTable(tbody, items) {
            tbody.innerHTML = ''; 
            items.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td stlye='width:50px'></td>
                    <td>${item.received_quantity}</td>
                    <td>${item.product__name}</td>
                    <td>${(item.quantity * item.cost).toFixed(2)}</td>
                    <td>${item.quantity}</td>
                    <td>${item.received_by__username || 'Not received'}</td>
                    <td></td>
                    <td>${item.description || 'No details'}</td>
                    <td>
                        ${item.received 
                            ? `<button class="btn btn-primary btn-sm" onclick="showActionModal(${item.id}, ${item.quantity})">Action</button>`
                            : `<button class="btn btn-primary btn-sm" onclick="showReceive(${item.id}, '${item.product__name}, ${item.quantity}')">Receive Inventory</button>`
                        }
                    </td>
                `;
                tbody.appendChild(row);
            });
        }
    });

    document.getElementById('r_quantity').addEventListener('input', function () {
        const quantity = parseInt(this.value) || 0;
        const serialInputs = document.getElementById('serialInputs');
        serialInputs.innerHTML = ''; 

        for (let i = 0; i < quantity; i++) {
            const inputGroup = document.createElement('div');
            inputGroup.className = 'input-group mb-2';

            const input = document.createElement('input');
            input.type = 'text';
            input.name = 'serial_number';
            input.className = 'form-control';
            input.placeholder = `Serial Number ${i + 1}`;
            input.required = true;

            inputGroup.appendChild(input);
            serialInputs.appendChild(inputGroup);
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const actionSelect = document.getElementById('actionSelect');
        const branchSelectWrapper = document.getElementById('branchSelectWrapper');
        const quantityWrapper = document.getElementById('quantityWrapper');
        const sendToBranches = document.getElementById('sendToBranches');
        const branchSelect = document.getElementById('branchSelect');

        actionSelect.addEventListener('change', () => {
            const selectedAction = actionSelect.value;
            console.log(sendToBranches)

            if (selectedAction === 'receive') {
                branchSelectWrapper.classList.add('d-none');
                sendToBranches.classList.add('d-none');
            } else {
                branchSelectWrapper.classList.remove('d-none');
            }

            if (selectedAction === 'send_to') {
                sendToBranches.classList.remove('d-none');
                branchSelectWrapper.classList.add('d-none');
            } else {
                sendToBranches.classList.add('d-none');
            }

            quantityWrapper.classList.remove('d-none');
        });
    });


    // document.querySelector('.btn-close').addEventListener('click', ()=>{
    //     actionModal.show()
    // })

    const showReceive = (id, name, quantity) =>{
        document.getElementById('item_id').value=id;
        document.getElementById('receiveModalLabel').innerText=`${name} x ${quantity}`;
        receiveModal.show()
    }

    const showFetch = (transfer_id, tbody) => {
        const modal = document.getElementById('itemsModal');
        // const tbody = modal.querySelector('tbody');
        const loader = document.createElement('div');
        transferId = transfer_id; 

        loader.className = 'spinner-border text-primary d-flex justify-content-center align-items-center';
        loader.setAttribute('role', 'status');
        loader.innerHTML = `<span class="visually-hidden">Loading...</span>`;

        // itemModal.show();

        tbody.innerHTML = '';
        tbody.appendChild(loader);

        fetch(`/inventory/transfer_items_data/${transferId}/`, {
                method:'GET'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch transfer items.');
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                populateTable(data);
            })
            .catch(error => {
                console.error(error);
                tbody.innerHTML = '<tr><td colspan="6" class="text-center text-danger">Failed to load data</td></tr>';
            });

            function populateTable(items) {
                tbody.innerHTML = '';
                
                total_quantity = 0;
                products_total_qauntity=0

                products_total_cost=0
                products_total_cost=0

                // initialize total Quantiy with received quantity
                items.forEach(item => {
                    total_quantity += item.received_quantity;
                    products_total_qauntity += item.quantity;

                    total_cost += item.received_quantity * item.cost;
                    products_total_cost += item.quantity * item.cost;
                });

                

                rQuantity.textContent = total_quantity || 0;
                tQuantity.textContent = products_total_qauntity || 0;

                rCost.textContent = total_cost.toFixed(2) || 0;
                tCost.textContent = (products_total_cost).toFixed(2) || 0;

                items.forEach((item, index) => {
                    const isQuantityMatch = item.received_quantity === item.quantity;
                    const isUserBranch = item.to_branch__name === '{{ request.user.branch }}';
                    const isReceived = item.received
                    

                    const badgeClass = isQuantityMatch ? 'bg-success' : 'bg-danger';
                    const receivedContent = isQuantityMatch || !isUserBranch || isReceived
                        ? `<small>${item.received_quantity || 0}</small>`
                        : `
                            <small>${item.received_quantity || 0 }</small>
                        `;
                    
                    const isQuantityReceiveMatch = item.received_quantity < item.quantity;
                    const actionContent = renderActionButton(item, "{{ request.user.branch }}");

                    const isReceivedBackQuantity = item.received_back_quantity > 0;
                    let iconContent = isReceivedBackQuantity 
                        ? `<i class='bx bx-transfer mx-1'></i>`
                        : ``;

                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td stlye='width:50px'></td>
                        <td><small>${iconContent} ${item.product__name} [${(item.quantity * item.cost).toFixed(2)}]</small></td>
                        <td class="border p-1 rounded text-center" >${receivedContent}<small>/${item.quantity}</small></td>
                        <td><small>${item.received_by__username || 'Not received'}</small></td>
                        <td><small>${item.from_branch__name} - ${item.to_branch__name}</small><//td>
                        <td colspan=''><small id='item_${item.id}'>${item.description || 'No details'}</small></td>
                        <td><small>${actionContent}</small></td>
                    `;

                    tbody.appendChild(row);

                    const input = row.querySelector('.clearable-input');
                    if (input) {
                        input.addEventListener('dblclick', () => {
                            if (input.disabled) {
                                input.disabled = false; 
                            } else {
                                input.value = ''; 
                            }
                        });

                        input.addEventListener('keypress', (event) => {
                            if (event.key === 'Enter') {
                                event.preventDefault();
                                submitReceivedQuantity(input, index);
                            }
                        });
                    }
                });
            }
    }

    const renderActionButton = (item, userBranch) => {
        const isReceivingBranch = item.from_branch__name !== userBranch;

        const isFullyReceived = item.quantity === item.received_quantity;
        
        if (!isReceivingBranch && !item.received) {
            return  `
                <button type="button"
                    class="btn btn-primary btn-sm"
                    id="edit-modal-${item.id}"
                    onclick="showEditModal(${item.id}, ${item.quantity})"
                >
                    Edit
                </button>
            `;;
        }
        
        // If fully received, only show status
        if (isFullyReceived) {
            return `<span class="badge bg-success">Fully Received</span>`;
        }
        
        // If not received at all
        if (!item.received) {
            return `
                <button type="button" 
                        class="btn btn-primary btn-sm" 
                        id="receive-btn-${item.id}" 
                        onclick="showReceive(${item.id}, '${item.product__name}', ${item.quantity})">
                    Receive Inventory
                </button>
            `;
        }
        
        // If partially received, show action button
        return `
            <button type="button"
                    class="btn btn-primary btn-sm"
                    id="action-modal-${item.id}"
                    onclick="showActionModal(${item.id}, ${item.quantity})">
                Action
            </button>
        `;
    };


    function submitReceivedQuantity() {
        const itemId = document.getElementById('item_id').value;
        const value = document.getElementById('r_quantity').value;
        const serialNumbers = Array.from(document.querySelectorAll('input[name="serial_number"]'))
            .map(input => input.value);

        let ExistingrQuantity = rQuantity.textContent || 0;
        let ExistingrCost = rCost.textContent || 0;

        if (!value) {
            return;
        }

        total_quantity += value;

        Swal.fire({
            title: 'Processing...',
            text: 'Please wait while your request is being processed.',
            icon: 'info',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        fetch('/inventory/receive/transfer/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify(
                { 
                    item_id: itemId, 
                    received_quantity: value,  
                    serial_numbers: serialNumbers
                }
            ),
        })
        .then(response => {
            if (!response.ok) throw new Error('Failed to submit data.');
            return response.json();
        })
        .then(data => {
            console.log('Updated successfully:', data);

            Swal.close();

            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message,
                });
                showFetch(transferId, tableBody);
                receiveModal.hide();
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: data.message,
                });
            }
        })
        .catch(error => {
            console.error('Error submitting data:', error);

            Swal.close();

            Swal.fire({
                icon: 'error',
                title: 'Oops!',
                text: 'Something went wrong. Please try again.',
            });
        });
    }

    setTimeout(()=>{
        loader.classList.add('hidden');
        loader.classList.remove('d-flex')
        tableEl.classList.remove('hidden')
    }, 300)
    
    transferRows.forEach(row => {
        row.addEventListener('click', function() {

            const transferId = this.dataset.id;
            const relatedRows = document.querySelectorAll(`#id_items[data-transfer-id="${transferId}"]`);
            relatedRows.forEach(relatedRow => {
                relatedRow.classList.toggle('hidden');
            });
        });
    });

    // hover to show products
    // hooverProduct.forEach((el) => {
    //     el.addEventListener('mouseover', () => {
    //         if (el.classList.contains('hidden')){
    //             el.classList.remove('hidden')
    //         }else{
    //             el.classList.add('hidden')
    //         }
    //     });

    //     el.addEventListener('mouseout', () => {
    //         if (el.classList.contains('hidden')){
    //             el.classList.remove('hidden')
    //         }else{
    //             el.classList.add('hidden')
    //         }
    //     });
    // });
    
    expandBtn.addEventListener('click', ()=>{
        itemsEl.forEach((el)=>{
            if (el.classList.contains('hidden')){
                el.classList.remove('hidden')
            }else{
                el.classList.add('hidden')
            }
        })
    })

    const cancel = (transferId) => {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to cancel this transfer?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, cancel it',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we process cancelling the transfer.',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                fetch(`/inventory/delete/transfer/${transferId}/`, {
                    method: "GET",
                })
                    .then(response => response.json())
                    .then(data => {
                       if(data.success){
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: 'Transfer cancelled successfully',
                            });
                            setTimeout(() => {
                                location.reload();
                            }, 2000);
                       }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: data.message
                            });
                       }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        Swal.close();
                    });
            }
        });
    }

    const form = document.getElementById('actionForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            const action = document.getElementById('actionSelect').value;
            const branch = document.getElementById('branchSelect').value;
            const quantity = document.getElementById('quantity').value;
            const reason = document.getElementById('reason').value;
            const action_taken = document.getElementById('reasonSelect')
            const detail = document.getElementById('')

            if (!action) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please select an action',
                });
                return;
            }

            if (action === 'send_back' && !branch) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please select a branch',
                });
                return;
            }

            if (action === 'receive' && !quantity) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter a quantity',
                });
                return;
            }

            if (action === 'defective' && !quantity) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Please enter a quantity',
                });
                return;
            }
        
            const formData = new FormData();
            formData.append('action', action);
            formData.append('branch', branch);
            formData.append('quantity', quantity);
            formData.append('transfer_id', transfer_id);
            formData.append('reason', reason);
            formData.append('action_taken', action_taken)

            for (let [key, value] of formData.entries()) {
                console.log(`${key}: ${value}`, 'data');
            }

            fetch('/inventory/over_less_list/', {
                method: 'POST',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if(data.success){
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Action performed successfully',
                    })
                    showFetch(transfer_id, tableBody)
                    actModal.hide()
                    console.log('run')
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    })

    function submitEditedQuantity() {
        console.log(editItemId)
        
        const editQuantity = document.getElementById('e_quantity').value;

        const childRow = document.querySelector(`.child-rows`);

        console.log(childRow)


        return;

        if (!editQuantity) {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Please enter a quantity',
            });
            return;
        }

        Swal.fire({
            title: 'Processing...',
            text: 'Please wait while your request is being processed.',
            icon: 'info',
            allowOutsideClick: false,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        fetch(`/inventory/edit_transfer_item/${editItemId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({
                edit_quantity: editQuantity
            }),
        })
        .then(response => {
            if (!response.ok) throw new Error('Failed to submit data.');
            return response.json();
        })
        .then(data => {
            Swal.close();

            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: data.message,
                });
                showFetch(transferId, tableBody);
                editModal.hide();

                showNextEditableModal();
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: data.message,
                });
            }
        })
        .catch(error => {
            console.error('Error submitting data:', error);

            Swal.close();

            Swal.fire({
                icon: 'error',
                title: 'Oops!',
                text: 'Something went wrong. Please try again.',
            });
        });
    }

    let currentRowIndex = -1; 

    function showNextEditableModal() {
        const rows = Array.from(document.querySelectorAll('#table-child tbody tr'));
        console.log(rows)
        currentRowIndex += 1;

        for (let i = currentRowIndex; i < rows.length; i++) {
            const editButton = rows[i].querySelector('button[id^="edit-modal-"]');
            if (editButton) {
                currentRowIndex = i; 
                const itemId = editButton.getAttribute('onclick').match(/\d+/)[0];
                const quantity = editButton.getAttribute('onclick').match(/, (\d+)\)/)[1];

                showEditModal(itemId, quantity);
                return;
            }
        }

        Swal.fire({
            icon: 'info',
            title: 'Completed!',
            text: 'All items have been processed.',
        });
    }

</script>
{% endblock content %}
