{% load static%}
{% block content %}
<div class="table transfers-table mt-2">
    {% include 'components/loader.html' %}
    <div class='table-scroll'>
    <table class='table table-bordered border table-hover rounded hidden p-2' id='transfers' style="width: 100%;">
        <thead class="table-dark sticky-top">
            <tr>
                <th>Transfer</th>
                <th>Trans Qnty | Amnt trans</th>
                <th class='text-center'>Status</th>
                <th>User</th>
                <th>Reference</th>
                <th>Discrepancy</th>
                <th>Action</th>
            </tr>
        </thead>
            <tbody>
                {% for transfer in transfers %}
                    <tr class="{% if transfer.transfer_to == request.user.branch %}bg-success{% else %}transfer-btn{% endif %}">
                        <td style="background: #ecedee !important;">
                            {% if transfer.hold %}
                                <small class="d-flex align-items-center">
                                    <i class='bx bx-pause fs-2' style='color:#007bff'></i>
                                    <span class="ml-1">{{ transfer.time|date:"d/m/y H:i" }}</span>
                                </small>
                            {% else %}
                                {% if request.user.branch in transfer.transfer_to.all %}
                                    <small class="d-flex align-items-center">
                                        <i class='bx bxs-right-arrow-alt text-success' style="font-size: 35px;"></i>
                                        <span class="ml-1">{{ transfer.time|date:"d/m/y H:i" }}</span>
                                    </small>
                                {% else %}
                                    <small class="d-flex align-items-center">
                                        <i class='bx bxs-left-arrow-alt' style="color: #dc3545eb; font-size: 35px;"></i>
                                        <span class="ml-1">{{ transfer.time|date:"d/m/y H:i" }}</span>
                                    </small>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="background: #ecedee !important;" onclick="showFetch ({{ transfer.id }})">
                            <small class="d-flex justify-content-between">
                                {% for qt in totals %}
                                    {% if qt.transfer__id == transfer.id %}
                                        <span class="border p-1">{{ qt.total_received_quantity }} / {{ qt.total_transfered_quantity}} </span>
                                        {% if not request.user.role == 'sales' %}
                                            <span class="text-primary text-bold">${{ qt.total_cost_received_quantity|floatformat:2 }} / {{ qt.total_cost_all_quantity|floatformat:2 }}</span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </small>
                        </td>
                        <td style="background: #ecedee !important;" class='transfer-btn text-center' data-id="{{ transfer.id }}">
                            <small  class='hint--bottom' aria-label='Defective'>
                                {% if transfer.defective_status %}
                                    <span class='hint--bottom' aria-label='Defective'>
                                        <i class='bx bxs-circle fs-3 text-defective'></i>
                                    </span>
                                {% else %}
                                    {% if transfer.quantity == 0 %}
                                        <span class='hint--bottom' aria-label='All received'>
                                            <i class='bx bxs-circle text-received fs-3'></i>
                                        </span>
                                    {% elif transfer.total_quantity_track < transfer.quantity and transfer.quantity > 0 %}
                                        <span class='hint--bottom' aria-label='Partial'>
                                            <i class='bx bxs-circle text-warning fs-3'></i>
                                        </span>
                                    {% elif transfer.quantity == transfer.total_quantity_track %}
                                        <span class='hint--bottom' aria-label='Not yet received'>
                                            <i class='bx bxs-circle text-danger fs-3'></i>
                                        </span>
                                    {% endif %}
                                {% endif %}
                            </small>
                        </td>
                        <td style="background: #ecedee !important;" class='transfer-btn' data-id="{{ transfer.id }}"><small>{{ transfer.user.username }}</small></td>
                        <td style="background: #ecedee !important;" class='transfer-btn' data-id="{{ transfer.id }}"><small>{{ transfer.transfer_ref }}</small></td>
                        <td style="background: #ecedee !important;"></td>
                        <td style="background: #ecedee !important;" class='transfer-btn' data-id="{{ transfer.id }}">
                            <a href="{% url 'inventory:print_transfer' transfer.id %}" class="btn border btn-sm">
                                <i class='bx bx-printer '></i>
                            </a>
                            {% if transfer.hold %}
                                <a href="{% url 'inventory:process_held' transfer.id %}" class="btn border btn-outline-dark  btn-sm hint-bottom" aria-label="process transfer">
                                    <i class='bx bx-play' style='color:#0b0b0b' ></i>
                                </a>
                            {% else %}
                                <a href="#" class="btn border btn-outline-dark btn-sm">
                                    <i class='bx bx-stop' style='color:#0b0b0b' ></i>
                                </a>
                            {% endif %}
                            <button onclick="cancel({{ transfer.id }})" class="btn border btn-outline-dark bx bx-trash"></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Delete Transfer</h5>
                    <button class="btn btn-secondary w-100" onclick="deleteTransfer()">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="itemsModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <h5>Transfer: {{ transfer.transfer_ref }} Products</h5>
                            <span class="p-2 mx-2 bg-light border rounded">Received Quantity: <span id="received_quantity"></span> / <span id="id_total_quantity"></span></span>
                            <span class="p-2 bg-light border rounded">Received Cost: <span id="received_cost"></span> / <span id="id_total_cost"></span></span>
                        </div>
                        <button class="btn btn-sm btn-close"></button>
                    </div> 
                    
                    <div class="mt-3 table-responsive">
                        <table class="table table-hover table-stripped">
                            <thead class="table-dark sticky-top">
                                <th></th>
                                <th>Product</th>
                                <th>Total Cost</th>
                                <th>Quantity</th>
                                <th>Quanity Received</th>
                                <th>Receieved_by</th>
                                <th>Details</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    let transfer_id = ''
    let total_quantity = 0;
    let total_cost = 0;
    let products_total_cost = 0;
    let products_total_qauntity = 0;

    const transferBtn = document.querySelectorAll('.transfer-btn');

    const expandBtn = document.querySelector('#id_expand')
    const itemsEl = document.querySelectorAll('#id_items')

    const loader = document.querySelector('#loader');
    const tableEl = document.querySelector('#transfers');

    const transferRows = document.querySelectorAll('.transfer-btn');
    const hooverProduct = document.querySelectorAll('#id_hover_product');

    const itemModal = new bootstrap.Modal(document.getElementById('itemsModal'));

    const rQuantity = document.getElementById('received_quantity');
    const tQuantity = document.getElementById('id_total_quantity');

    const rCost = document.getElementById('received_cost');
    const tCost = document.getElementById('id_total_cost');

    // initialize the total quantity and total cost
    rQuantity.textContent = total_quantity || 0;


    document.querySelector('.btn-close').addEventListener('click', ()=>{
        itemModal.hide()
    })

    const showFetch = (transfer_id) => {
        const modal = document.getElementById('itemsModal');
        const tbody = modal.querySelector('tbody');
        const loader = document.createElement('div');
        const transferId = transfer_id; 

        loader.className = 'spinner-border text-primary d-flex justify-content-center align-items-center';
        loader.setAttribute('role', 'status');
        loader.innerHTML = `<span class="visually-hidden">Loading...</span>`;

        itemModal.show();

        tbody.innerHTML = '';
        tbody.appendChild(loader);

        fetch(`/inventory/transfer_items_data/${transferId}/`, {
                method:'GET'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch transfer items.');
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                populateTable(data);
            })
            .catch(error => {
                console.error(error);
                tbody.innerHTML = '<tr><td colspan="6" class="text-center text-danger">Failed to load data</td></tr>';
            });

            function populateTable(items) {
                tbody.innerHTML = '';
                
                total_quantity = 0;
                products_total_qauntity=0

                products_total_cost=0
                products_total_cost=0

                // initialize total Quantiy with received quantity
                items.forEach(item => {
                    total_quantity += item.received_quantity;
                    products_total_qauntity += item.quantity;

                    total_cost += item.received_quantity * item.cost;
                    products_total_cost += item.quantity * item.cost;
                });

                rQuantity.textContent = total_quantity || 0;
                tQuantity.textContent = products_total_qauntity || 0;

                rCost.textContent = total_cost.toFixed(2) || 0;
                tCost.textContent = (products_total_cost).toFixed(2) || 0;

                items.forEach((item, index) => {
                    const isQuantityMatch = item.received_quantity === item.quantity;
                    const isUserBranch = item.to_branch__name === '{{ request.user.branch }}';

                    console.log(isUserBranch, item.to_branch__name, '{{ request.user.branch }}');

                    const badgeClass = isQuantityMatch ? 'bg-success' : 'bg-danger';
                    const receivedContent = isQuantityMatch || !isUserBranch
                        ? `<small>${item.received_quantity || 0}</small>`
                        : `
                            <input type="number" 
                                class="form-control form-control-sm clearable-input" 
                                value="${item.received_quantity || item.quantity}" 
                                data-item-id="${item.id}" 
                                data-index="${index}" 
                                placeholder="Enter received qty">
                        `;
                    
                        console.log('Received content:', receivedContent);

                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td><small class="border p-2 rounded ${badgeClass}">${item.received_quantity}</small></td>
                        <td><small>${item.product__name}</small></td>
                        <td><small>${(item.quantity * item.cost).toFixed(2) || 'N/A'}</small></td>
                        <td><small>${item.quantity}</small></td>
                        <td>${receivedContent}</td>
                        <td><small>${item.received_by || 'Not received'}</small></td>
                        <td><small>${item.description || 'No details'}</small></td>
                    `;

                    tbody.appendChild(row);

                    const input = row.querySelector('.clearable-input');
                    if (input) {
                        input.addEventListener('dblclick', () => {
                            if (input.disabled) {
                                input.disabled = false; 
                            } else {
                                input.value = ''; 
                            }
                        });

                        input.addEventListener('keypress', (event) => {
                            if (event.key === 'Enter') {
                                event.preventDefault();
                                submitReceivedQuantity(input, index);
                            }
                        });
                    }
                });
            }

            function submitReceivedQuantity(input, currentIndex) {
                const itemId = input.dataset.itemId;
                const value = input.value;
                let ExistingrQuantity = rQuantity.textContent || 0;
                let ExistingrCost = rCost.textContent || 0;

                if (!value) {
                    return;
                }

                total_quantity += value;
                // rQuantity.textContent = total_quantity + ExistingrQuantity;
                // total_cost += +value * items[currentIndex].cost;
                
                fetch('/inventory/receive/transfer/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({ item_id: itemId, received_quantity: value }),
                })
                .then(response => {
                    if (!response.ok) throw new Error('Failed to submit data.');
                    return response.json();
                })
                .then(data => {
                    console.log('Updated successfully:', data);

                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Data submitted successfully',
                    })

                    input.disabled = true;

                    const nextInput = document.querySelector(`input[data-index="${+currentIndex + 1}"]`);
                    if (nextInput) {
                        nextInput.focus();
                    }
                })
                .catch(error => {
                    console.error('Error submitting data:', error);
                });
            }
    }


    setTimeout(()=>{
        loader.classList.add('hidden');
        loader.classList.remove('d-flex')
        tableEl.classList.remove('hidden')
    }, 300)
    
    transferRows.forEach(row => {
        row.addEventListener('click', function() {

            const transferId = this.dataset.id;
            const relatedRows = document.querySelectorAll(`#id_items[data-transfer-id="${transferId}"]`);
            relatedRows.forEach(relatedRow => {
                relatedRow.classList.toggle('hidden');
            });
        });
    });

    // hover to show products
    // hooverProduct.forEach((el) => {
    //     el.addEventListener('mouseover', () => {
    //         if (el.classList.contains('hidden')){
    //             el.classList.remove('hidden')
    //         }else{
    //             el.classList.add('hidden')
    //         }
    //     });

    //     el.addEventListener('mouseout', () => {
    //         if (el.classList.contains('hidden')){
    //             el.classList.remove('hidden')
    //         }else{
    //             el.classList.add('hidden')
    //         }
    //     });
    // });
    
    expandBtn.addEventListener('click', ()=>{
        itemsEl.forEach((el)=>{
            if (el.classList.contains('hidden')){
                el.classList.remove('hidden')
            }else{
                el.classList.add('hidden')
            }
        })
    })

    const cancel = (transferId) => {
        Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to cancel this transfer?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, cancel it',
            cancelButtonText: 'No, keep it'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: 'Processing...',
                    text: 'Please wait while we process cancelling the transfer.',
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading()
                    }
                });

                fetch(`/inventory/delete/transfer/${transferId}/`, {
                    method: "GET",
                })
                    .then(response => response.json())
                    .then(data => {
                       if(data.success){
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: 'Transfer cancelled successfully',
                            });
                            setTimeout(() => {
                                location.reload();
                            }, 2000);
                       }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: data.message
                            });
                       }
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        Swal.close();
                    });
            }
        });
    }
</script>
{% endblock content %}
