{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Add Transfer {% endblock %}
{% block content %}
<style>
    .select2-container--default .select2-results__option {
        display: flex;
        align-items: center;
    }
    .branch{
        background: #5897fb;
        height: 80px;
    }
    .custom-input-size{
        font-size: 10px;
    }
    .custom-input-width{
        width: 30px;
    }
    /* .add-transfer-nav{
        position: fixed;
        z-index: 1000; 
    } */

    .branches-container {
        overflow: hidden; 
        transition: max-height 0.3s ease; 
    }

    @media (max-width: 768px) {
        .col-4 {
            width: 90%; 
            right: 5%; 
            top: 10px; 
        }
    }

    .branches-container {
        margin-bottom: 16px; 
    }

    .checkbox-container {
        display: flex;
        flex-wrap: wrap; 
        gap: 16px; 
    }

    .form-check {
        flex: 0 0 calc(25% - 16px); 
        box-sizing: border-box; 
    }
</style>
<div class="inventory">
    <div class="add-transfer">
        <div class="add-transfer-nav shadow p-2 d-flex justify-content-between align-items-center rounded">
            <div>
                <h5 class="fw-bold px-1 mt-2">Add Transfer</h5>
            </div>
        </div>
        
        <div class="row mt-2">
            <!-- Table Column -->
            <div class="col col-7">
                <div id="cart-display" class="mt-2 rounded p-2" style="background: #fff;">
                    <p id="cart-title">
                        <span>Transfer Items</span>
                    </p>
                    
                    <table class="table border rounded p-2" id="cart-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product</th>
                                <th>Qnty</th>
                                {% if request.user.role != 'sales' %}
                                    <th>Price</th>
                                    <th>W Price</th>
                                {% endif %}
                                <th>Destination</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="cart-items"></tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-dark mx-2 btn-sm" onclick="processCart('hold')">
                            <i class="bx bx-save"></i> Hold
                        </button>
                        <button class="btn btn-primary btn-sm" id="confirm-button" onclick="processCart('process')">Confirm</button>
                    </div>
                </div>
            </div>
            <!-- Form Column -->
            <div class="col col-5">
                <form class="d-flex flex-column mt-2 w-100 rounded p-2" method="post" style="background: #fff;">
                    {% csrf_token %}
                    <button id="toggleButton" class="btn btn-light mb-2" type="button">
                        <i class="bx bx-chevron-down" id="toggleIcon"></i>
                        <span id="id_text">Hide Branches</span>
                    </button>
                    <div id="div_id_transfer_to" class="mb-2 branches-container"> 
                        <label for="id_transfer_to" class="form-label requiredField">Destination Branch(s)</label>
                        <div class="checkbox-container">
                            {% for branch in branches %}
                                {% if branch.name != request.user.branch.name %}
                                    <div class=" d-flex justify-content-between align-items-center rounded hint--bottom" aria-label="{{ branch.name }}" style="background:#5897fb ; width: 100px;">
                                        <label class="form-check-label text-light btn btn-sm" for="id_to_{{ branch.id }}" >
                                            {{ branch.name | slice:":6" }}
                                        </label>
                                        <input id="id_to_{{ branch.id }}" data-name="{{ branch.name}}" onchange="pushBranches(this)" type="checkbox" class="form-check-input mx-2 mb-1" value="{{ branch.id }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <div class="mb-1">
                        <label for="id_product" class="form-label requiredField">Product</label>
                        <select class="select form-select" id="id_product">
                            <option value=""></option>
                            {% for product in inventory %}
                                <option value="{{ product.id }}">{{ product.name }} [{{ product.quantity }}]</option>
                            {% endfor %}
                        </select>

                    <div class="mt-3- d-flex" style="overflow-x: auto; background: #fff;" id="branchesTable">
                        <!-- data will be dynamically rendered by js -->
                    </div>
                    
                    <p class="text-danger" id="error"></p>
                    <div class="d-flex justify-content-end mb-2">
                        <button type="button" class="btn btn-secondary btn-sm" id="id_submit" onclick="saveDataToServer('process')">
                            <i class="bx bx-save"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="successModal"></div>
</div>
<script>
  let cart = [];
  let prodData = [];
  let searchValue = '';
  let prodQauntity = 0;
  let prodPrice = 0;
  let prodCost = 0;
  let dealerPrice = 0;
  let productName = '';
  let salesPerson = false;
  let branchesList = [];
  let branches = [];
  let userRole = `{{ request.user.role }}`
  let count = 1;
  let branchesCount = 0;

  const errorEl = document.getElementById('error');
  const prodEl = document.querySelector('#id_price');
  const dealerEl = document.querySelector('#id_dealer_price');
  const submitBtn = document.getElementById('id_submit');
  const quantityEl = document.getElementById('id_quantity')

  if (userRole === 'sales'){
      salesPerson = true
    }

    new SlimSelect({
        select: '#id_to',
        placeholder: 'Select Product'
    });

    // function getSelectedValues() {
    //     const selectElement = document.getElementById('id_to');
        
    //     const selectedValues = Array.from(selectElement.selectedOptions).map(option => {
    //     return {
    //             name: option.text, 
    //             value: option.value 
    //         };
    //     });

    //     console.log(selectedValues);
    //     return selectedValues;
    // }

    const pushBranches = (data) => {

        if (data.checked) {

            const branchExists = branches.some(branch => branch.name === data.dataset.name);
            if (!branchExists) {
                branches.push({
                    'name': data.dataset.name,
                    'value': data.value
                });
                branchesList.push(data.dataset.name);
            }
        } else {
            branches = branches.filter(branch => branch.name !== data.dataset.name);
            branchesList = branchesList.filter(name => name !== data.dataset.name);
        }

        console.log('branchList', branchesList);
        console.log('branches', branches);
    };

    document.getElementById('toggleButton').addEventListener('click', function() {
        let branchesDiv = document.getElementById('div_id_transfer_to');
        let toggleIcon = document.getElementById('toggleIcon');
        let text = document.getElementById('id_text')

        // Toggle visibility
        if (branchesDiv.style.display === "none") {
            branchesDiv.style.display = "block"; 
            toggleIcon.classList.remove('bx-chevron-up');
            toggleIcon.classList.add('bx-chevron-down');
            text.innerText='Hide branches'
        } else {
            branchesDiv.style.display = "none"; 
            toggleIcon.classList.remove('bx-chevron-down');
            toggleIcon.classList.add('bx-chevron-up');
            text.innerText='Show branches'
        }
    });


    const displayTables = (values, product, prodData) => {
        let tableEl = document.getElementById('branchesTable');

        tableEl.innerHTML = ''

        const defaultAverage = (quantity) =>{
            let branches = branchesList.length;
            average_quantity = Math.round(quantity / branches);
            
            return average_quantity.toFixed(1)
        }

        values.forEach((value) => {
            if (!branchesList.includes(value)) {

                const productData = prodData[0]; 

                console.log(defaultAverage(productData.quantity), 'branches average quantitty')
                tableEl.innerHTML += `
                    <div class='m-1 branch-data border p-2 rounded' data-branch-name="${value?.name}">
                        <div class='d-flex justify-content-center align-items-center branch text-light rounded shadow'>
                            <small class='text-center px-2'>${value?.name}</small>
                        </div>
                        <div class="{% if request.user.role == 'sales' %} d-none {% endif %} mt-2">
                             <div id="div_id_price" class="mb-1">
                                <label for="id_cost" class="form-label requiredField">
                                    <small>Cost</small>
                                </label>
                                <input type="number" name="cost" step="0.01" value="${productData.cost || ''}" class="numberinput form-control cost-input custom-input-size" required>
                                <p id="price_error" class="fs-6 text-danger"></p>
                            </div>
                            <div id="div_id_price" class="mb-1">
                                <label for="id_price" class="form-label requiredField">
                                    <small>Price</small>
                                </label>
                                <input type="number" name="price" step="0.01" value="${productData.price || ''}" class="numberinput form-control price-input custom-input-size" required>
                                <p id="price_error" class="fs-6 text-danger"></p>
                            </div>
                            <div id="div_id_dealer_price" class="mb-1">
                                <label for="id_dealer_price" class="form-label requiredField">
                                    <small>Wholesale Price</small>
                                </label>
                                <input type="number" name="dealer_price" step="0.01" value="${productData.dealer_price || ''}" class="numberinput form-control dealer-price-input custom-input-size" required>
                                <p id="dealer_price_error" class="fs-6 text-danger"></p>
                            </div>
                        </div>
                        <div id="div_id_quantity" class="mb-1">
                            <label for="id_quantity" class="form-label requiredField">
                                <small>Quantity [<span id='id_${value.name}'>${productData.quantity}</span>]</small>
                            </label>
                            <input type="number" name="quantity" min="0" onchange='calculateQuantityDifference(this.value, ${productData.quantity}, "${(value.name)}")' class="numberinput form-control quantity-input custom-input-size" required>
                        </div>
                    </div>
                `;
            }
        });
    };

    let remainingQuantities = {}; 
    let previousQuantities = {}; 

    const calculateQuantityDifference = (quantity, productQuantity, branchName) => {
        quantity = parseInt(quantity) || 0; 

        // Initialize if not already done
        if (!(branchName in remainingQuantities)) {
            remainingQuantities[branchName] = productQuantity; 
        }
        if (!(branchName in previousQuantities)) {
            previousQuantities[branchName] = 0; 
        }

        const difference = quantity - previousQuantities[branchName];
        remainingQuantities[branchName] -= difference; 

        previousQuantities[branchName] = quantity;
        document.querySelector(`#id_${branchName}`).textContent = remainingQuantities[branchName];

        branchesList.forEach((b) => {
            if (remainingQuantities[b]) {
                document.querySelector(`#id_${b}`).textContent = remainingQuantities[b];
            }
        });

        console.log(`Remaining quantity for ${branchName}:`, remainingQuantities[branchName]);
    };


    const saveDataToServer = (action) => {
        const branchElements = document.querySelectorAll('.branch-data');
        const dataToSend = [];

   
        let hasError = false; 
        let productAdded = false; 
        let prodName = ''

        for (let i = 0; i < branchElements.length; i++) {
            const branch = branchElements[i]; 
            const branchName = branch.dataset.branchName;
            const price = branch.querySelector('.price-input').value;
            const dealerPrice = branch.querySelector('.dealer-price-input').value;
            const quantity = branch.querySelector('.quantity-input').value;
            const cost = parseFloat(branch.querySelector('.cost-input').value);

            const pElement = document.getElementById('id_product');
            const pSelectedOption = pElement.options[pElement.selectedIndex];
            let product = pSelectedOption.textContent;
            let product_id = pElement.value

            product = product.split(' [')[0];

            

            // if (!price || !quantity || quantity <= 0) {
            //     Swal.fire({
            //         icon: 'error',
            //         title: 'Error',
            //         text: 'Please ensure all fields are filled correctly.'
            //     });
            //     hasError = true; 
            //     break; 
            // }

            const existingItem = cart.find((item) => item.product === product && item.branch_name === branchName);
            console.log(existingItem, 'existing item');

            if (existingItem) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'This product and branch combination already exists in the cart.'
                });
                const prodTd = document.querySelectorAll(`.${product}`)
                prodTd.forEach((td)=>{
                    console.log(td)
                    td.classList.add('text-danger')
                })
                hasError = true; 
                prodName = product
                break; 
            }

            console.log(quantity)
            if (quantity){
                const newItem = {
                    product_id:product_id,
                    count: count,
                    id: generateUniqueId(),
                    product: product,
                    branch_name: branchName,
                    price: parseFloat(price),
                    dealer_price: parseFloat(dealerPrice),
                    quantity: parseInt(quantity, 10),
                    description: '',
                    cost: cost
                };
                cart.push(newItem);
                productAdded = true; 
            }

            // dataToSend.push(newItem);
            
            console.log(cart, 'cart');

            
        }

        updateCartDisplay();

        if (!hasError) { 
            count += 1;

            if (productAdded) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Items have been added to the cart.',
                    showConfirmButton: false,
                    timer: 1500
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'No items were added to the cart because the product does not exist.'
                });
            }
        }
    }
        
    document.addEventListener('DOMContentLoaded', function() {
    new SlimSelect({
        select: '#id_product',
        placeholder: 'Select Product'
    });

    document.getElementById('id_product').addEventListener('change', function() {
        const selectElement = document.getElementById('id_product');
        const selectedOptions = Array.from(selectElement.selectedOptions).map(option => {
            return {
                name: option.text,
                value: option.value
            };
        });

        const product = selectedOptions[0]?.value;

        if (product) {
            fetch(`/inventory/inventory/?name=${product}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        console.log(data);
                    
                        prodData = data;
                        console.log(prodData, 'product data')
                        if (prodData){
                            let values = branches
                            displayTables(values, product, prodData);
                        }
                        
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    })
    })


  const successModal = new bootstrap.Modal(document.querySelector('#successModal'))

  function generateUniqueId() {
      return Math.floor(Math.random() * 1000000000).toString(36);
    }


    function updateCartDisplay() {
        const cartItemsList = document.getElementById("cart-items");
        cartItemsList.innerHTML = "";

        let total = 0;
        let currentColor = "gray"; 
        let currentProduct = null; 
        
        let isEditing = false;

        
        console.log(branchesList.length);

        function toggleEdit() {
            isEditing = !isEditing;
            updateRowContent();
        }

        cart.reverse().forEach((item, index) => {

            if (currentProduct !== item.product) {
                currentProduct = item.product; 
                currentColor = currentColor === "#ebeced" ? "white" : "#ebeced"; 
            }

            const row = document.createElement("tr");
            row.style.backgroundColor = currentColor; 

            function updateRowContent() {

                row.innerHTML = `
                    <td style='background:${currentColor}'><small class='${item.product}'>${item.count}</small></td>
                    <td style='background:${currentColor}'><small class='${item.product}'>${item.product}</small></td>
                    <td style='background:${currentColor}'>
                        <small class='${item.product}'>
                        ${isEditing
                            ? `<input type="number" class="form-control form-control-sm" 
                                value="${item.quantity}" min="1" 
                                onchange="updateCartItem('${String(item.id)}', 'quantity', this.value);" />`
                            : `${item.quantity}`}
                        </small>
                    </td>
                    <td style='background:${currentColor}' class="${salesPerson ? 'd-none' : ''}">
                        <smallclass='${item.product}' >
                        ${isEditing
                            ? `<input type="number" class="form-control form-control-sm" 
                                value="${item.price}" step="0.01" min="0" 
                                onchange="updateCartItem('${String(item.id)}', 'price', this.value);" />`
                            : `${item.price}`}
                        </small>
                    </td>
                    <td style='background:${currentColor}' class="${salesPerson ? 'd-none' : ''}">
                        <small class='${item.product}'>
                        ${isEditing
                            ? `<input type="number" class="form-control form-control-sm" 
                                value="${item.dealer_price}" step="0.01" min="0" 
                                onchange="updateCartItem('${String(item.id)}', 'dealer_price', this.value);" />`
                            : `${item.dealer_price}`}
                        </small>
                    </td>
                    <td style='background:${currentColor}' class='${item.product}'><small>${item.branch_name}</small></td>
                    <td style='background:${currentColor}' class='${item.product}'>
                        <small>
                        <button class="btn btn-sm btn-outline-dark mx-1 edit" onclick="toggleEdit();">
                            ${isEditing ? "Save" : "Edit"}
                        </button>
                        <button class="btn btn-sm btn-danger" data-id="${String(item.id)}" onclick="removeItem(this);">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                        </small>
                    </td>
                `;
                function toggleEdit() {
                isEditing = !isEditing;
                updateRowContent();
            }
        }

        updateRowContent();
        row.querySelector("button.btn-outline-dark").addEventListener("click", () => {
            isEditing = !isEditing;
            updateRowContent();
        });
            cartItemsList.appendChild(row);
        });

        document.getElementById("branchesTable").innerHTML = "";
    }

    function updateCartItem(id, field, value) {
        const item = cart.find((item) => item.id === id);
        if (item) {
            item[field] = field === "quantity" ? parseInt(value, 10) : parseFloat(value).toFixed(2);
            updateCartDisplay();
        }
    }


  function clearFields() {
      document.getElementById('id_quantity').value = '';
      document.getElementById('id_price').value = '';
      dealerEl.value = '';
      document.getElementById('id_description').value = '';
  }


  const removeItem = (el) => {
      const id = el.dataset.id;
      cart = cart.filter((item) => item.id !== id);
      updateCartDisplay();
  };

  function processCart(action) {
      const data = {
          'action':action,
          'cart': cart,
          'salesPerson': salesPerson,
          'branches_to': branches
      };

      Swal.fire({
          title: 'Processing Transfer',
          text: 'Please wait...',
          allowOutsideClick: false,
          didOpen: () => {
              Swal.showLoading()
          }
      });

      fetch("/inventory/process-transfer-cart/", {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify(data),
      })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  Swal.fire({
                      icon: 'success',
                      title: 'Success!',
                      text: 'Product(s) Transferred Successfully',
                      showConfirmButton: false,
                      timer: 1500
                  });
                  cart = [];
                  updateCartDisplay();
                  setTimeout(() => {
                      window.location.href = '{% url "inventory:transfers" %}';
                  }, 1500);
              } else {
                  Swal.fire({
                      icon: 'error',
                      title: data.message,
                      text: data.message
                  });
              }
          })
          .catch((error) => {
              console.error("Error:", error);
              Swal.fire({
                  icon: 'error',
                  title: 'Error!',
                  text: 'An unexpected error occurred. Please try again.'
              });
          });
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
 </script>
{% endblock %}
