{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Add Transfer {% endblock %}
{% block content %}
<style>
    .select2-container--default .select2-results__option {
        display: flex;
        align-items: center;
    }
</style>
<div class="inventory">
    <div class="add-transfer">
        <div class="add-transfer-nav shadow p-2 bg-dark text-light d-flex justify-content-between align-items-center rounded">
            <div>
                <h5 class="fw-bold px-2 mt-2">Add Transfer</h5>
            </div>
        </div>
        
        <div class="row mt-2">
            <!-- Table Column -->
            <div class="col col-8">
                <div id="cart-display" class="mt-3">
                    <p id="cart-title">Transfer Items</p>
                    <table class="table border rounded p-2" id="cart-table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                {% if request.user.role != 'sales' %}
                                <th>Price</th>
                                <th>Wholesale Price</th>
                                {% endif %}
                                <th>Destination</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="cart-items"></tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary btn-sm" id="confirm-button" onclick="processCart()">Confirm</button>
                    </div>
                </div>
            </div>
            <!-- Form Column -->
            <div class="col col-4">
                <form class="d-flex flex-column mt-2 w-100" method="post">
                    {% csrf_token %}
                    <div id="div_id_transfer_to" class="mb-2"> 
                        <label for="id_transfer_to" class="form-label requiredField">Destination Branch(s)</label>
                        <select name="transfer_to" class="select form-select" required id="id_to" multiple>
                            <option value=""></option>
                            {% for branch in branches %}
                                {% if branch.name != request.user.branch.name %}
                                    <option value="{{ branch.id }}">{{ branch.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1">
                        <label for="id_product" class="form-label requiredField">Product</label>
                        <select class="select form-select" id="id_product">
                            <option value="">-----</option>
                            {% for product in inventory %}
                                <option value="{{ product.id }}">{{ product.product.name }} [{{ product.quantity }}]</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-success btn-sm w-100" id="getValuesButton">Proceed
                            <i class="bx bx-arrow-right"></i>
                        </button>
                    </div>
                    <!--will come back-->
                    <div class="{% if request.user.role == 'sales' %} d-none {% endif %}">
                        <div id="div_id_price" class="mb-1">
                            <label for="id_price" class="form-label requiredField">Price</label>
                            <input type="number" name="price" step="0.01" class="numberinput form-control" required id="id_price">
                            <p id="price_error" class="fs-6 text-danger"></p>
                        </div>
                        <div id="div_id_dealer_price" class="mb-1">
                            <label for="id_dealer_price" class="form-label requiredField">Wholesale Price</label>
                            <input type="number" name="dealer_price" step="0.01" class="numberinput form-control" required id="id_dealer_price">
                            <p id="dealer_price_error" class="fs-6 text-danger"></p>
                        </div>
                    </div>
                    <div id="div_id_quantity" class="mb-1">
                        <label for="id_quantity" class="form-label requiredField">Quantity</label>
                        <input type="number" name="quantity" value="" min="0" class="numberinput form-control" required id="id_quantity">
                    </div>
                    <div id="div_id_description" class="mb-3">
                        <label for="id_description" class="form-label requiredField">Description<span class="asteriskField">*</span></label>
                        <textarea name="description" cols="20" rows="2" class="textarea form-control" required id="id_description"></textarea>
                    </div>

                    <p class="text-danger" id="error"></p>
                    <div class="d-flex justify-content-end mb-2">
                        <button type="button" class="btn btn-secondary btn-sm" id="id_submit" onclick="addItem();">
                            <i class="bx bx-save"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="successModal"></div>
</div>

<!--<script src="{% static 'js/productValidation.js' %}"></script>-->
<script>
  let cart = [];
  let prodData = [];
  let searchValue = '';
  let prodQauntity = 0;
  let prodPrice = 0;
  let prodCost = 0;
  let dealerPrice = 0;
  let productName = '';
  let salesPerson = false;
  let userRole = `{{ request.user.role }}`

  const errorEl = document.getElementById('error');
  const prodEl = document.querySelector('#id_price');
  const dealerEl = document.querySelector('#id_dealer_price');
  const submitBtn = document.getElementById('id_submit');
  const quantityEl = document.getElementById('id_quantity')

  if (userRole === 'sales'){
      salesPerson = true
    }

    new SlimSelect({
        select: '#id_to',
        placeholder: 'Select Product'
    });

    new SlimSelect({
        select: '#id_product',
        placeholder: 'Select Product'
    });

    function getSelectedValues() {
        const selectElement = document.getElementById('id_to');
        
        const selectedValues = Array.from(selectElement.selectedOptions).map(option => {
        return {
                name: option.text, 
                value: option.value 
            };
        });

        console.log(selectedValues);
        return selectedValues;
    }

    document.getElementById('getValuesButton').addEventListener('click', function() {
        const values = getSelectedValues();
        const product = 
        displayTables(values)
    });


    const displayTables = (values) => {
        const tableEl = document.getElementById('branchesTable');
        values.forEach((value)=>{
            tableEl += `

            `
            console.log(value)
        })

    }


  $(document).ready(function() {
    $('#id_product').select2(
        {placeholder: 'Select Product'}
    )
    .on('change', function (e){
         const pElement = document.getElementById('id_product')
         const pSelectedOption = pElement.options[pElement.selectedIndex]
         let product = pSelectedOption.textContent;
        product = $('#id_product').val()

      fetch(`/inventory/inventory/?name=${product}`)
        .then(response => response.json())
        .then(data=>{
          console.log(data)
          prodEl.value=Number(data[0]?.price)
          prodPrice=Number(data[0]?.price)
          prodCost = Number(data[0]?.cost)
          dealerEl.value = Number(data[0]?.dealer_price)
          quantityEl.value = parseInt(data[0]?.quantity)
          productName = data[0]?.inventory__product__name

      
          prodData = []
          prodData.push(data)
        })
        .catch(error => console.error('Error:', error))
    })

})

  const successModal = new bootstrap.Modal(document.querySelector('#successModal'))

  document.querySelector('#id_quantity').addEventListener(
    'input', ()=>{
      const quantity = $('#id_quantity').val()

      if (quantity > prodData[0][0].quantity){
          submitBtn.disabled = true;
          Swal.fire({
              icon: 'warning',
              title: 'Quantity Exceeded',
              text: 'The quantity you entered exceeds the available source quantity. Please adjust.',
              confirmButtonText: 'Okay'
          });

      }else{
          document.querySelector('#quantity_error').innerHTML = '';
          submitBtn.disabled = false;
      }
    }
  )

  document.querySelector('#id_price').addEventListener(
    'input', ()=>{
      const price = $('#id_price').val()
      if (price < prodCost) {
        document.querySelector('#quantity_error').innerHTML = `Selling price cannot be less than cost price ${prodCost} for product ${productName}`
      }else{
        document.querySelector('#quantity_error').innerHTML=''
      }
    }
  )

  function generateUniqueId() {
      return Math.floor(Math.random() * 1000000000).toString(36);
    }

  function updateCartDisplay() {
      const cartItemsList = document.getElementById("cart-items");
      cartItemsList.innerHTML = "";

      let total = 0;
      
      cart.reverse().forEach((item) => {
        const row = document.createElement("tr");
        row.innerHTML = `
          <td id='${item.product}'>${item.product}</td>
          <td id='${item.product}'>${item.quantity}</td>
          <td class="${salesPerson ? 'd-none' : ''}" id="${item.product}-price">${item.price}</td>
          <td class="${salesPerson ? 'd-none' : ''}" id="${item.product}-dealer-price">${item.dealer_price}</td>
          <td id='${item.product}'>${item.to_branch}</td>
          <td>
              <button class="btn btn-sm btn-danger" data-id=${item.id} onclick="removeItem(this);">
                <i class='bx bx-trash-alt'></i>
              </button>
          </td>
        `;
        cartItemsList.appendChild(row);
      });
    }

  function clearFields() {
      document.getElementById('id_quantity').value = '';
      document.getElementById('id_price').value = '';
      dealerEl.value = '';
      document.getElementById('id_description').value = '';
  }

  function addItem() {
      const pElement = document.getElementById('id_product')
      const pSelectedOption = pElement.options[pElement.selectedIndex]
      let product = pSelectedOption.textContent;
      product = product.split(' [')[0]

      const price = Number(document.getElementById('id_price').value)
      const quantity = Number(document.getElementById('id_quantity').value)

      const toElement = document.getElementById('id_to')
      const toSelectedOption = toElement.options[toElement.selectedIndex]
      const toBranchId = toSelectedOption.textContent

      const description = document.getElementById('id_description').value
      const dealer_price = document.getElementById('id_dealer_price').value

      const existingItem = cart.find((item) => item.product === product)

      if (!product) {
          Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Please fill in the Product field',
          })
          document.getElementById('id_product').focus()
          return;
      }

      if (!quantity) {
          document.getElementById('id_quantity').focus();
          return;
      }

      if (!price) {
          Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Please fill in the Price field',
          })
          document.getElementById('id_price').focus()
          return;
      }


      if (existingItem) {
          existingItem.quantity
          Swal.fire({
              title: `Product ${productName} exists.`,
              icon: 'error'
          })
      }

      else {
          if (quantity <= 0) {
              Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'Quantity cannot be less than zero or below zero.',
              })
              return;
          }

          
          if (!document.getElementById('id_to').value) {
              Swal.fire({
                  icon: 'error',
                  title: 'Error',
                  text: 'Please fill in the Branch field',
              }).then(() => {
                  document.getElementById('id_to').focus()
              })
              return;
          }

          const newTransfer = {
              id: generateUniqueId(),
              product: product,
              cost: prodCost,
              to_branch: toBranchId,
              quantity: quantity,
              price: price,
              dealer_price: dealer_price,
              description: description
          };
          cart.push(newTransfer);
          updateCartDisplay();
          clearFields()
      }
 }

  const removeItem = (el) => {
      const id = el.dataset.id;
      cart = cart.filter((item) => item.id !== id);
      updateCartDisplay();
  };

  function processCart() {
      const toElement = document.getElementById('id_to');
      const toSelectedOption = toElement.options[toElement.selectedIndex];
      const toBranchId = toSelectedOption.textContent;

      const data = {
          'cart': cart,
          'salesPerson': salesPerson,
          'branch_to': toBranchId
      };

      console.log(data)

      Swal.fire({
          title: 'Processing Transfer',
          text: 'Please wait...',
          allowOutsideClick: false,
          didOpen: () => {
              Swal.showLoading()
          }
      });

      fetch("/inventory/process-transfer-cart/", {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify(data),
      })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  Swal.fire({
                      icon: 'success',
                      title: 'Success!',
                      text: 'Product(s) Transferred Successfully',
                      showConfirmButton: false,
                      timer: 1500
                  });
                  cart = [];
                  updateCartDisplay();
                  setTimeout(() => {
                      window.location.href = '{% url "inventory:transfers" %}';
                  }, 1500);
              } else {
                  Swal.fire({
                      icon: 'error',
                      title: data.message,
                      text: data.message
                  });
              }
          })
          .catch((error) => {
              console.error("Error:", error);
              Swal.fire({
                  icon: 'error',
                  title: 'Error!',
                  text: 'An unexpected error occurred. Please try again.'
              });
          });
  }
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
 </script>
{% endblock %}
