{% extends "base.html" %}
{% load static%}
{% load custom_filters %}
{% block title%} Inventory detail {% endblock%}
{% block content %}
<style>
    .table-responsive {
        overflow-x: auto;
    }
    [x-cloak]{
        display: none;
    }
    /* style="background:rgb(0 123 255) ; */
</style>
<script src="https://unpkg.com/alpinejs" defer></script>
<div class="inventory"
    x-data="{
        open:false,
        download(type) {
            let printArea;

            if (type === 'logs') {
                printArea = document.querySelector('.atable');
            } else if (type === 'account') {
                printArea = document.querySelector('.stock-account'); 
            }
        
            if (!printArea) {
                console.error('Content to print not found.');
                return;
            }
        
            const heading = document.createElement('h2')
            let headingText = type === 'logs' ? 'LOGS REPORT' : 'STOCK ACCOUNT REPORT'; 
            heading.innerText = `{{ inventory.name }}: ${headingText}`
            heading.classList.add('m-2')
            printArea.prepend(heading)
            printArea.classList.add('m-2')
            let originalContent = document.body.innerHTML;

            // Replace the body content with the selected print area
            document.body.innerHTML = printArea.outerHTML;

            // Trigger the print dialog
            window.print();

            // Restore the original content after printing
            setTimeout(() => {
                document.body.innerHTML = originalContent;
            }, 1000);
        
        }
        
    }"
    >
    <div class="inventory-navbar mb-3">
        <nav class="d-flex justify-content-between align-items-center shadow rounded p-2">
            <div class="d-flex">
                <div class="d-flex align-items-center">
                    <h5>{{ inventory.name | capfirst }}</h5>
                </div>
            </div>
            <nav class='recent-nav navbar navbar-expand-lg navbar-light rounded px-2'>
                <ul class='navbar-nav items  mr-auto'>
                    <li class='nav-item active' data-name="atable">Activity table</li>
                    <li class='nav-item px-2' data-name="charts">Activity chart</li>
                </ul>
            </nav>
        </nav>
    </div>
    <div class="d-flex justify-content-between align-items-center border p-2 rounded">
        <div class="d-flex">
            <div class="p-1">Cost value:  
                {% for value in inventory_value %}
                    <span class="mx-2">{{ value.name }} {{ value.value|floatformat:2 }}</span>
                {% endfor %}
            </div>
            <div class="mx-2 p-1">Sold value: 
                {% for value in inventory_sold_value %}
                    <span class="mx-1">{{ value.name }} {{ value.value|floatformat:2 }}</span>
                {% endfor %}
            </div>
        </div>
        <div>
            <button 
                class="btn btn-outline-dark" 
                @click="open =!open"
                x-text="open ? 'Logs' : 'Stock Account'">
            >
                Stock Account
            </button>
            <button 
                class="btn btn-outline-dark bx bx-printer bx-sm" 
                @click="download(!open ? 'logs' : 'account')">
            </button>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-1 mt-1">
    </div>
        <div x-show="!open">
            <input type="text" id="search-input" class="form-control form-control-sm" placeholder="Search logs..." oninput="searchTable()">
        </div>
  

    <div>
        <div class="table-detail mt-2 w-100 atable table-responsive" x-show="!open" x-transition>
                <table class='table border rounded display p-2 table-bordered table-responsive' style="width:100%" id='detailTable'>
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>By (user)</th>
                            <th>Refence</th>
                            <th>Type</th>
                            <th>Selling Price</th>
                            <th>Dealer Price</th>
                            <th>Updated Qnty</th>
                            <th>System Qnty</th>
                            <th>Qnty At Hand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                        <tr>
                            <td><small>{{ forloop.counter }}</small></td>
                            <td><small>{{ log.timestamp }}</small></td>
                            <td><small><span>{{ log.user }}</span></small></td>
                            <td data-id="{{log.invoice.id}}" id="invoice" style="cursor:pointer;">
                                <small>
                                    {{ log.invoice.invoice_number }}
                                    {{ log.product_transfer.transfer.transfer_ref }}
                                    {{ log.purchase_order.order_number }}
                                </small>
                            </td>
                            <td>
                                <small style='width:20px !important;'>
                                    {{ log.action }}
                                    {% if log.description %}({{ log.description }}){% endif %}
                                </small>
                            </td>
                            <td><small>{{ log.selling_price }}</small></td>
                            <td><small>{{ log.dealer_price }}</small></td>
                            <td>
                                <small class="d-flex justify-content-between">
                                    {% if log.quantity < 0 %}
                                        <span class='text-danger'>{{log.quantity}}</span>
                                        <i class='bx bxs-down-arrow text-danger'></i>
                                    {% else %}
                                    <span class='text-success'>{{log.quantity}}</span>
                                    <i class='bx bxs-up-arrow text-success'></i>
                                    {% endif %}
                                </small>
                            </td>
                            <td><small class="fw-bold">{{log.total_quantity}}</small></td>
                            <td><small class="fw-bold">{{log.total_quantity}}</small></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <h5 class="modal-title fw-bold p-2" id="invoiceModalLabel">Invoice Details</h5>
                        <div class="modal-body" id="invoiceDetails"></div>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <h5 class="modal-title fw-bold p-2" id="transferModalLabel">Transfer Details</h5>
                        <div class="modal-body" id="transferDetails"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- stock account -->
    <div x-show="open" x-transition class="mt-1">
        <h5>Stock Account</h5>
        <div class="table-responsive stock-account">
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Timestamp</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Debits</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    {% if stock_account_data %}
                        {% for entry in stock_account_data %}
                            <tr>
                                <td><small>{{ forloop.counter }}</small></td>
                                <td><small>{{ entry.timestamp }}</small></td>
                                <td><small>{{ entry.description }}</small></td>
                                <td><small>{{ entry.quantity }}</small></td>
                                {% if entry.type == 'debits' %}
                                    <td><small>{{ entry.cost|floatformat:2 }}</small></td>
                                    <td></td>
                                {% else %}
                                    <td></td>
                                    <td><small>{{ entry.cost|floatformat:2 }}</small></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        
                        <!-- Totals Row -->
                        <tr class="fw-bold">
                            <td class="text-start">Totals</td>
                            <td colspan="2" ></td>
                            <td><small>{{ remaining_stock_quantity }}</small></td>
                            <td><small>{{ total_debits|floatformat:2 }}</small></td>
                            <td><small>{{ total_credits|floatformat:2 }}</small></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">No stock account data available.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- chart -->
    <div class="inventory-chart hidden text-center charts" style='width: 100vh; height: 100vh;'>
        <canvas id="inventoryChart"></canvas>
    </div>
</div>
<script>    
    const chart = $('.charts')
    const table = $('.atable')
    const navButtons = document.querySelectorAll('.nav-item')

    const invoiceModal = new bootstrap.Modal(document.getElementById('invoiceModal'));
    const invoiceDetails = document.getElementById('invoiceDetails');
    const transferModal = new bootstrap.Modal(document.getElementById('transferModal'));
    const transferDetails = document.getElementById('transferDetails');

    // download function for the accounts and the logs 
    const download = (type) =>{
        let url = ''
        if(type='logs'){
            url = `?=logs${true}`
        }else{
            url = `?accounts=${true}`
        }

        Swal.fire({
            title: 'Processing...',
            text: 'Your download is being prepared.',
            imageUrl: 'https://i.imgur.com/2ZduIl8.gif',  
            imageWidth: 50,
            imageHeight: 50,
            showConfirmButton: false,
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        setTimeout(() => {
            // Hide processing Swal and show success Swal
            Swal.fire({
                title: 'Download Complete!',
                text: `Your ${type} file has been downloaded successfully.`,
                icon: 'success',
                confirmButtonText: 'Close'
            });

            window.location.href = url;

        }, 2000);  
    }

    // search functionality of the table -> js
    const searchTable = () => {
      const input = document.getElementById('search-input');
      const filter = input.value.toLowerCase();
      const table = document.getElementById('cart-table');
      const rows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    

    //   search table
      for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let found = false;

            // Check each cell in the row
            for (let j = 2; j < cells.length; j++) {
                const cell = cells[j];
                if (cell) {
                    const txtValue = cell.textContent || cell.innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }

            if (found) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
      }

    const salesData = {{ sales_data|safe }}; 
    const stockInData = {{ stock_in_data|safe }};
    const transferData = {{ transfer_data|safe }};
    const ctx = document.getElementById('inventoryChart').getContext('2d');
    const inventoryChart = new Chart(ctx, {
        type: 'line', 
        data: {
        labels: {{ labels|safe }}, 
        datasets: [
            {
            label: 'Sales',
            data: salesData,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
            },
            {
            label: 'Stock-Ins',
            data: stockInData,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
            },
            {
            label: 'Transfers',
            data: transferData,
            backgroundColor: 'rgba(255, 206, 86, 0.2)',
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
            }
        ]
        },
        options: {
        scales: {
            yAxes: [{
            ticks: {
                beginAtZero: true 
            }
            }]
        }
        }
    });

    navButtons.forEach((btn)=>{
        btn.addEventListener(
            'click', ()=>{
                let name = event.target.getAttribute('data-name')

                navButtons.forEach(b => b.classList.remove('active')); 
                event.target.classList.add('active'); 
                show(name)
            }
        )
    })

    function show(name) {
        chart.addClass('hidden');
        table.addClass('hidden'); 

        $(`.${name}`).removeClass('hidden'); 
    }

    document.querySelector('table').addEventListener('click', (event) => {
        const target = event.target.closest('td');
        if (target && target.id === 'invoice') {
            const invoiceId = target.dataset.id;
            fetchInvoiceDetails(invoiceId); 
        } else if (target && target.id === 'transfer') {
            const transferId = target.dataset.id;
            fetchTransferDetails(transferId); 
        }
    });

    function fetchInvoiceDetails(invoiceId) {
        fetch(`/finance/invoice/details/${invoiceId}/`) 
            .then(response => response.json())
            .then(data => {
                invoiceDetails.innerHTML = `
                    <p>Invoice Number: ${data[0]?.invoice_number}</p>
                    <p>Customer: <a href='/finance/customer/account/${data[0]?.customer__id}/'>${data[0]?.customer__name}</a></p>
                    <p>Items: ${data[0]?.products_purchased}</p>
                    <p>Amount: ${data[0]?.amount}</p>
                    <p>Payment Status: ${data[0]?.payment_status}</p>
                    </div>
                `; 
                invoiceModal.show(); 
            });
    }
   
    function fetchTransferDetails(transferId) {
        fetch(`/inventory/transfer/detail/${transferId}/`)  
            .then(response => response.json())
            .then(data => {
                console.log(data)
                transferDetails.innerHTML = `
                    <p>Transfer Reference: ${data[0]?.transfer__transfer_ref}</p>
                    <p>Product Name: ${data[0]?.product__name}</p>
                    <p>Quantity: ${data[0]?.quantity}</p>
                    <p>Price: ${data[0]?.price}</p>
                    <p>From Branch: ${data[0]?.from_branch__name}</p>
                    <p>To Branch: ${data[0]?.to_branch__name}</p>
                    </div>
                `; 
                transferModal.show(); l
            });
    }
</script>  
{% endblock content %}
