{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block title%} Inventory {% endblock%}
{% block content %}
<style>
    @media screen and (max-width: 768px) { 
        .col-3 {
            display: none;
        }
        .col-9{
            width: 100%;
        }
    }
</style>
   <div class="inventory">
    <div class='px-1 shadow d-flex align-items-center justify-content-between rounded'>
        <h5>Products</h5>
        <div class="d-flex sticky-top bg-white" style="z-index: 1000;">
            <nav class='recent-nav navbar navbar-expand-lg'>
                <nav class="d-flex justify-content-between align-items-center">
                    <!-- Static buttons for large screens -->
                    <div class="d-none d-lg-flex">
                        {% if request.user.role == 'admin' %}
                            <div class="mx-2">
                                <button class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#addProductModal">
                                    <i class='bx bx-plus'></i> 
                                    Product
                                </button>
                            </div>
                        {% endif %}
                        <div> 
                            <a href='{% url 'inventory:reorder_list' %}' class="btn btn-outline-dark btn-sm">
                                Reorder List
                            </a>
                        </div>
                        <div class='px-2'> 
                            <a href='{% url 'inventory:purchase_orders' %}' class="btn btn-outline-dark btn-sm">
                                Purchase Orders
                            </a>
                        </div>
        
                        <div> 
                            <a href='{% url 'inventory:suppliers' %}' class="btn btn-outline-dark btn-sm">
                                Suppliers
                            </a>
                        </div>
        
                        <div class='px-2'> 
                            <a href='{% url 'inventory:stocktake' %}' class="btn btn-outline-dark btn-sm">
                                Stocktake
                            </a>
                        </div>

                        <div> 
                            <a href='{% url 'inventory:loss_management' %}' class="btn btn-outline-dark btn-sm">
                                Loss Management
                            </a>
                        </div>

                    </div>
        
                    <!-- Dropdown for small screens -->
                    <div class="dropdown d-lg-none">
                        <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            More Options
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if request.user.role == 'admin' %}
                                <li><a class="dropdown-item" href='{% url 'inventory:create_purchase_order' %}'>Product</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href='{% url 'inventory:defective_product_list' %}'>Defective Products</a></li>
                            <li><a class="dropdown-item" href='{% url 'inventory:reorder_list' %}'>Reorder List</a></li>
                            <li><a class="dropdown-item" href='{% url 'inventory:purchase_orders' %}'>Purchase Orders</a></li>
                            <li><a class="dropdown-item" href='{% url 'inventory:suppliers' %}'>Suppliers</a></li>
                            <li><a class="dropdown-item" href='{% url 'inventory:stocktake' %}'>Stocktake</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href='?download=true&excel=true'>Excel <i class='bx bx-download'></i></a></li>
                            <li>
                                <form method="get">
                                    <select name="category" class="form-control" id='id_category' value={{ category }}>
                                        <option value="">All Categories</option>
                                        <option value='inactive'>Inactive</option>
                                        {% for category in categories %}
                                            <option value="{{ category.name }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-outline-dark btn-sm mt-2">
                                        <i class="bx bx-filter"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
        
                    <!-- Search form on large screens -->
                    <div class="search d-flex align-items-center d-none d-lg-flex">
                        <span class='px-2'>
                            <a href='?download=true&excel=true' class="btn btn-outline-dark btn-sm">
                                Excel
                                <i class='bx bx-download'></i>
                            </a>        
                        </span>
                        <form method="get" class="d-flex">
                            <select name="category" class="form-control" id='id_category' value={{ category }}>
                                <option value="">All Categories</option>
                                <option value='inactive'>Inactive</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            <span class="px-1"></span>
                            <button type="submit" class="btn btn-outline-dark btn-sm">
                                <i class="bx bx-filter"></i>
                            </button>
                        </form>
                    </div>
                </nav>
            </nav>
        </div>
        
        
    </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card shadow bg-light">
                    <div class="card-body">
                        <h6 class='text-muted fw-bold'>Total Inventory Cost </h6>
                        <h6 class='text-center text-muted fw-bold'>USD {{total_cost}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow bg-light">
                    <div class="card-body">
                        <h6 class='text-muted fw-bold'>Total Inventory Price</h6>
                        <h6 class='text-center text-light fw-bold text-muted'>USD {{total_price}}</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div>
                    {% include "components/inventory_table.html" %}
                </div>
            </div>
            <div class="col-3 mt-2 p-1 rounded" style="background: #fff;">
                <h5>Logs</h5>
                <div  style="height: 60vh; overflow-y: auto;">
                    <table class="table table-bordered" S>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Product</th>
                                <th>Cost</th>
                                <th>Action</th>
                                <!-- <th>Status</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                                <tr>
                                    <td>
                                        <small>
                                            {% with log.timestamp as timestamp %}
                                                {{ timestamp|date:"d/m/y" }} 
                                            {% endwith %}
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            {{ log.inventory.name }}
                                            
                                            <!-- {{ log.product_transfer.product.name }}
                                            {{ log.purchase_order.product.name }} -->
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            {% if log.inventory.cost %}
                                                USD {{ log.inventory.cost }}
                                            {% else %}
                                                USD {{ log.inventory.price }}
                                            {% endif %}
                                        </small>
                                    </td>
                                    <td>
                                        <small>
                                            {{ log.action }} x {{ log.quantity }}
                                        </small>
                                    </td>
                                    <!-- <td>{{ log.quantity }}</td> -->
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3">No logs available</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        {% include 'components/category_modal.html'%}
                    </div>
                </div>
            </div>
        </div>

   </div>  

<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="fw-bold" id="title">Add Product</h5>
        <form method="post" class='mt-2 p-2'>
          {% csrf_token %}
          <div id="div_id_batch_code" class="mb-3 d-none">
            <label for="id_batch_code" class="form-label requiredField">
              Batch code<span class="asteriskField">*</span>
            </label>
            <div class="d-flex form-group">
              <select class="select form-select" id='id_code_select'>
                <option value="">-----</option>
              </select>
              <button type="button" class="btn border bx bx-plus" id="add_batch_modal">
              </button>
            </div>
          </div>
          <div class="d-flex form-group d-none">
            <select class="select form-select form-select-sm" id='id_search' data-clearable="true"
              data-searchable="true">
              <option value="">Search Product</option>
              {% for product in inventory %}
              <option value={{product.product.id}}>{{product.product.name}} [{{ product.quantity }}]</option>
              {% endfor %}
            </select>
          </div>
          <div id="div_id_name" class="mb-3 form-group">
            <label for="id_name" class="form-label requiredField">
              Product Image
              <span class="asteriskField">*</span>
            </label>
            <div class="d-flex align-items-center">
              <input type="file" name="image" maxlength="255" class="textinput form-control" required id="id_image">
            </div>
          </div>
          <div id="div_id_name" class="mb-3 form-group">
            <label for="id_name" class="form-label requiredField">
              Name
              <span class="asteriskField">*</span>
            </label>
            <div class="d-flex align-items-center">
              <input type="text" name="name" maxlength="255" class="textinput form-control" required id="id_name">
              <button class="btn btn-light border btn-sm" type="button">s</button>
              <button class="btn btn-light bx bx-edit border mx-1" type="button"></button>
              <button class="btn btn-light bx bx-trash border" type="button"></button>
            </div>
          </div>
          <div id="div_id_category form-group" class="mb-3">
            <label for="id_category" class="form-label requiredField">
              Category<span class="asteriskField">*</span>
            </label>
            <div class='d-flex align-items-center'>
              <select name="category" class="select form-select" required id="id_category">
                <option value="">---------</option>
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <button class='btn border small' type="button" id='id_add_category'>
                <i class='bx bx-plus'></i>
              </button>
            </div>
          </div>

          <div class="mb-3 form-group">
            <label for="id_quantity" class="form-label requiredField">
              Quantity <span class="asteriskField">*</span>
            </label>
            <div class="input-group">
              <button type="button" class="btn btn-outline-secondary" id="decrease_quantity">−</button>
              <input type="number" name="quantity" class="form-control text-center" id="id_quantity" value="1" min="1" required>
              <button type="button" class="btn btn-outline-secondary" id="increase_quantity">+</button>
            </div>
          </div>

          <div class="mb-3 form-group">
            <label for="id_cost_price" class="form-label requiredField">
              Cost Price <span class="asteriskField">*</span>
            </label>
            <input type="number" name="cost_price" class="form-control" id="id_cost_price" step="0.01" required>
          </div>
          
          <div class="mb-3 form-group">
            <label for="id_selling_price" class="form-label requiredField">
              Selling Price <span class="asteriskField">*</span>
            </label>
            <input type="number" name="selling_price" class="form-control" id="id_selling_price" step="0.01" required>
          </div>
          
          <div class="mb-3 form-group">
            <label for="id_wholesale_price" class="form-label requiredField">
              Wholesale Price
            </label>
            <input type="number" name="wholesale_price" class="form-control" id="id_wholesale_price" step="0.01">
          </div>
          
          <div id="div_id_tax_type" class="mb-3">
            <label for="id_tax_type" class="form-label requiredField">
              Tax type
              <span class="asteriskField">*</span>
            </label>
            <select name="tax_type" class="select form-select" required id="id_tax_type">
              <option value="" selected>---------</option>
              <option value="exempted">Exempted</option>
              <option value="standard">Standard</option>
              <option value="zero rated">Zero Rated</option>
            </select>
          </div>
          <div id="div_id_min_stock_level" class="mb-3">
            <label for="id_min_stock_level" class="form-label requiredField">
              Min stock level
              <span class="asteriskField">*</span>
            </label>
            <input type="number" name="min_stock_level" value="0" class="numberinput form-control" required
              id="id_min_stock_level">
          </div>
          <div id="div_id_description" class="mb-3">
            <label for="id_description" class="form-label requiredField">
              Description<span class="asteriskField">*</span>
            </label>
            <textarea name="description" cols="20" rows="2" class="textarea form-control" required
              id="id_description"></textarea>
          </div>
          <div class="mb-3">
            <div id="div_id_end_of_day" class="form-check">
              <input type="checkbox" name="end_of_day" class="checkboxinput form-check-input" id="id_end_of_day">
              <label for="id_end_of_day" class="form-check-label">
                End of day
              </label>
            </div>
          </div>
          <div class="mb-3">
            <div id="div_id_service" class="form-check">
              <input type="checkbox" name="service" class="checkboxinput form-check-input" id="id_service">
              <label for="id_service" class="form-check-label">
                Service
              </label>
            </div>
          </div>
          <p class='text-danger' id='error'></p>
          <div class="d-flex justify-content-end">
            <div class="">
              <button type="reset" class="btn btn-danger btn-sm w-100">
                <i class='bx bx-reset'></i>
                Reset
              </button>
            </div>
            <span class="px-1"></span>
            <div class="">
              <button type="button" id="id_submit_product" class="btn btn-secondary btn-sm w-100">
                <i class='bx bx-save'></i>
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    function categorySubmit() {

        const data = { name: $('#id_category_name').val() }
    
        fetch("{% url 'inventory:add_product_category' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify(data),
        })
          .then(response => response.json())
          .then((response) => {
            if (response.success) {
              Swal.fire({
                title: 'success',
                text: 'Category successfully saved.',
                icon: 'success',
                timer: 2000,
                showConfirmButton: false
              })
              fetchCategories()
              categoryModal.hide()
              supplierFormModal.show()
            } else {
              Swal.fire({
                title: 'warning',
                text: response.message,
                icon: 'warning',
              })
            }
          })
          .catch((error) => {
            console.info(error)
          });
    }
    
      async function fetchCategories() {
        try {
          const response = await fetch('{% url "inventory:add_product_category" %}');

          console.log(response)
    
          if (!response.ok) {
            throw new Error('Network response was not ok.');
          }
          const data = await response.json();
          updateCategory(data);
        } catch (error) {
          console.error('Error fetching categories:', error);
        }
      }
    
      fetchCategories()
    
      function updateCategory(data) {
        const catElement = document.querySelector('#id_category')
    
        console.info('loading products')
    
        while (catElement.options.length > 1) {
          catElement.remove(1)
        }
        console.log(data, catElement)
        data.forEach((category) => {
          catElement.innerHTML += `<option value=${category.id}>${category.name}</option>`
        })
      }

      document.getElementById('id_submit_product').addEventListener('click', function () {
        const form = document.querySelector('#addProductModal form');
        const formData = new FormData(form);
      
        fetch("{% url 'inventory:add-inventory' %}", {
          method: 'POST',
          headers: {
            'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
          },
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            Toastify({
              text: data.message,
              duration: 3000,
              gravity: "top",
              position: 'right',
              backgroundColor: "#4fbe87"
            }).showToast();
      
            form.reset();
            //$('#addProductModal').modal('hide');
          } else {
            document.getElementById('error').textContent = data.message;
          }
        })
        .catch(error => {
          document.getElementById('error').textContent = 'An unexpected error occurred.';
          console.error(error);
        });
      });

      document.getElementById('increase_quantity').addEventListener('click', function () {
        let quantityInput = document.getElementById('id_quantity');
        quantityInput.value = parseInt(quantityInput.value || 0) + 1;
      });
    
      document.getElementById('decrease_quantity').addEventListener('click', function () {
        let quantityInput = document.getElementById('id_quantity');
        let currentValue = parseInt(quantityInput.value || 0);
        if (currentValue > 1) {
          quantityInput.value = currentValue - 1;
        }
      });
    
</script>
{% endblock content %}
