{% extends "base.html" %}
{% load static%}
{% block title%} Receive Inventory {% endblock%}
{% block content %}
   <div class="inventory">
        <div class="inventory-navbar">
            <nav class="d-flex justify-content-between shadow align-items-center rounded p-2">
                <div>
                    <h5>Stock Receiving</h5>
                </div>
            </nav>
        </div>
        <div class='content'>
            {% include "components/receive _inventory_table.html" %}
        </div>
   </div> 
{% endblock content %}