{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="container">
    <div class="Dashboard">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';" class="d-flex align-items-center justify-content-between rounded shadow header p-2 mb-4 sticky-top">
            <h5 class="d-flex justify-content-left mx-3 mt-2">Vouchers</h5>
            <ol class="breadcrumb w-100 container d-flex justify-content-end">
                <li class="mx-1 mt-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'booking:service_view' %}">Services</a></li>
                <li class="mx-1 mt-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'vouchers:home' %}">Dashboard</a></li>
                <li class="mx-1 mt-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'vouchers:voucherList' %}">Vouchers List</a></li>
                <li class="mx-1 mt-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'vouchers:voucherLogs' %}">Voucher Logs</a></li>
                <li class="mx-1 mt-3"><a class="btn btn-outline-dark btn-sm" href="{% url 'vouchers:voucherFiles' %}">Voucher Files</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="row mt-2">
                <div class="col">
                    <div class="card bg-dark text-light shadow" style="border: none !important;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="py-2">Vouchers</h5>
                            </div>
                            <h6 class="d-flex justify-content-between">Today's <span class="">{{count}}</span></h6>
                            <div class="voucher-table">
                                <table class="table-hover shadow w-100">
                                    <tbody>
                                        {% for voucher in vouchers %}
                                            <tr>
                                                <td class="text-light" style='color:#777 !important'><small>{{voucher.name}}</small></td>
                                                <td><small><a href=''style='color:#777 !important'>{{voucher.voucher_no}}</a></small></td>
                                                <td></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
