<p>{{inventory.name}}</p>
<div>
    <table class='table rounded table-borderless table-hover display p-2 table-responsive' style="width:100%" id='detailTable'>
        <thead style="background: var(--primary);">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Details</th>
                <th>Selling Price</th>
                <th>Dealer Price</th>
                <th>Updated Qnty</th>
                <th>System Qnty</th>
                <th>Qnty At Hand</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td><small>{{ forloop.counter }}</small></td>
                    <td><small>{{ log.timestamp }}</small></td>
                    <td data-id="{{log.invoice.id}}" id="invoice" style="cursor:pointer;">
                        <small>
                            {{ log.invoice.invoice_number }}
                            {{ log.product_transfer.transfer.transfer_ref }}
                            {{ log.purchase_order.order_number }}
                                - 
                        </small>
                        <small>
                            {{ log.action }}
                            {% if log.description %}({{ log.description }}){% endif %}
                        </small>
                        <br>
                        <small class="text-muted">
                            <i class="bx bx-user"></i> {{ log.user }}
                        </small>
                    </td>
                    <td><small>{{ log.selling_price }}</small></td>
                    <td><small>{{ log.dealer_price }}</small></td>
                    <td>
                        <small class="d-flex justify-content-between">
                            {% if log.quantity < 0  and not log.action == 'sale return'%}
                                <span class='text-danger'>{{log.quantity}}</span>
                                <i class='bx bxs-down-arrow text-danger'></i>
                            {% elif log.quantity < 0  and log.action == 'sale return' %}
                                <span class='text-success'>{{log.quantity}}</span>
                                <i class='bx bxs-up-arrow text-success'></i>
                            {% else %}
                                <span class='text-success'>{{log.quantity}}</span>
                                <i class='bx bxs-up-arrow text-success'></i>
                            {% endif %}
                        </small>
                    </td>
                    <td><small class="fw-bold">{{log.total_quantity}}</small></td>
                    <td><small class="fw-bold">{{log.total_quantity}}</small></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>