{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Techcity Pos System" />
    <meta name="Author" content="casy moyo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'assets/hint.css/hint.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='{% static "assets/boxicons/css/boxicons.css"%}' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- Bootstrap CSS -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- use-bootstrao-select css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.0/dist/use-bootstrap-select.min.css">
    {% endblock css %}

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

    <!-- use-bootstrao-select js -->
    <script src="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.0/dist/use-bootstrap-select.min.js"></script>
  

    <!-- Bootstrap JS + Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- Bootstrap Select JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

    <!-- Select2 Bootstrap 5 Theme CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />


    {% comment %} crypto {% endcomment %}

    <title>
        {% block title %}Techcity{% endblock title %}
    </title>
</head>
<body>
    <div class="techcity">
        <div class="row">
            <div class=" top-bar">
                <div class="nav-bar fixed-top bg-light"> {% include "base/navbar.html" %} </div>
                <div class='row' style='margin-top:58px;'>
                    <div class="aside-bar text-light" style="background: #242140 !important; width: 150px;"> {% include "base/aside.html" %} </div>
                    <div class="app-area col w-100 bg-light overflow">
                        
                        {% include "components/finance/credit_payments.html" %}
                        
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- <div id="loader" class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-white" style="z-index: 1050;">
                            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div> -->
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-right">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <p class='fw-bold'>Notifications</p>
                            </div>
                            <table class="table" id="notificationTable">
                                <thead>
                                    <tr>
                                        <th>Product name</th>
                                        <th>Current Stock</th>
                                        <th>Most Recent Stock</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="branchModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-right">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div>
                                <p class='fw-bold'>Choose Branch</p>
                            </div>
                            <div class="row row-cols-3 g-3"> 
                                {% for branch in branches %}
                                    <div class="col">
                                        <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center" 
                                           href="{% url 'company:switch_branch' branch.id %}">
                                            {{ branch.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="credtModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg"> 
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="modalContent">
                                <div class="d-flex justify-content-between w-100">
                                    <div>
                                        <span class="p-2 bg-light">Total amount $</span>
                                    </div>
                                    <div>
                                        <input type="search" oninput="" class="form-control form-control-sm">
                                    </div>
                                </div>
                                <table class="table mt-2">
                                    <thead class="table-dark">
                                        <th>#</th>
                                        <th>Invoice #</th>
                                        <th>Customer</th>
                                        <th>Amount owing</th>
                                        <th>Total Amount</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <!-- js population -->
                                    </tbody>
                                </table>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="creditModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-header-info">
              <div>
                <span class="text-muted">Total</span>
              </div>
              <div>
                <span class="badge-total">
                  Total: $24,328.00
                </span>
              </div>
            </div>
            
            <div class="modal-body">
              <div class="table-container">
                <div class="search-container">
                  <i class="fas fa-search"></i>
                  <input type="search" class="form-control search-input" placeholder="Search invoices...">
                </div>
                
                <div class="table-responsive">
                  <table class="table" id="parentTable">
                    <thead>
                      <tr>
                        <th width="50"></th>
                        <th>Customer</th>
                        <th>Invoice Date</th>
                        <th>Status</th>
                        <th>Total Amount</th>
                        <th class="text-end">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Parent rows will be populated here -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-sm">Export Data</button>
            </div>
          </div>
        </div>
      </div>

    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>    
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- <script>
        const notisModal = new bootstrap.Modal(document.querySelector('#notificationModal'))
        const notisButton = document.querySelector('#notisBtn')

        const branchModal = new bootstrap.Modal(document.querySelector('#branchModal'))
        const branchButton = document.querySelector('#branchButton')

        const tableWrapper = document.querySelector('#detailTable_wrapper')

        // document.addEventListener("DOMContentLoaded", function () {
        //     const loader = document.getElementById("loader");
        //     loader.style.display = "none"; // Hide the loader after the page loads
        // });

        document.addEventListener('DOMContentLoaded', function() {
            // fetchNotifications();
        });

        
        document.querySelector('.col-12')?.classList.add('w-100') 
        // document.addEventListener("DOMContentLoaded", function () {
        //     const buttons = document.querySelectorAll(".toggle-btn");

        //     buttons.forEach((button) => {
        //         button.addEventListener("click", function () {
        //             const span = button.nextElementSibling;
        //             button.classList.add("fade-out");
        //             span.classList.remove("d-none");
        //             span.classList.add("show");
        //         });
        //     });
        // });

        // function fetchNotifications() {
        //     fetch('{% url "inventory:reorder_from_notifications" %}')
        //         .then(response => response.json())
        //         .then(data => {
        //             console.log(data)
        //             const tableBody = document.querySelector('#notificationTable tbody');
        //             tableBody.innerHTML = ''; 
        //             data.forEach(notification => {
        //                 const row = document.createElement('tr');
        //                 row.innerHTML = `
        //                     <td>${notification.inventory__product__name}</td>
        //                     <td>${notification.inventory__quantity}</td>
        //                     <td>${notification.quantity}</td>
        //                     <td>
        //                         <button class="btn bx bx-list-plus" data-id="${notification.inventory__id}" onclick="addToOrderList(this);"></button>
        //                         <button class="btn bx bx-x text-danger" data-id="${notification.inventory__id}" onclick="dontAddToOrderList(this);"></button>
        //                     </td>
        //                 `;
        //                 tableBody.appendChild(row);
        //             });
        //         })
        //         .catch(error => console.error('Error fetching notifications:', error));
        // }

        // function addToOrderList(button) {
        //     const inventoryId = button.getAttribute('data-id');
        //     fetch('{% url "inventory:reorder_from_notifications" %}', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'X-CSRFToken': getCookie('csrftoken')
        //         },
        //         body: JSON.stringify({ inventory_id: inventoryId, action_type:'add' })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.success) {
        //             alert('Added to order list successfully!');
        //             fetchNotifications(); 
        //         } else {
        //             alert('Error: ' + data.message);
        //         }
        //     })
        //     .catch(error => console.error('Error adding to order list:', error));
        // }

        // function dontAddToOrderList(button) {
        //     const inventoryId = button.getAttribute('data-id');
        //     fetch('{% url "inventory:reorder_from_notifications" %}', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'X-CSRFToken': getCookie('csrftoken')
        //         },
        //         body: JSON.stringify({ inventory_id: inventoryId, action_type:'remove' })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.success) {
        //             alert('Added to order list successfully!');
        //             fetchNotifications(); 
        //         } else {
        //             alert('Error: ' + data.message);
        //         }
        //     })
        //     .catch(error => console.error('Error adding to order list:', error));
            
        // }

        branchButton.addEventListener('click', ()=>{
            branchModal.show()
        })

        notisButton.addEventListener('click', ()=>{
            notisModal.show()
        })

        // // $.ajax({
        // //     url: '{% url "finance:finance_notifications_json" %}',
        // //     type: 'GET',
        // //     }).done(function(response) {
        // //         const data = response;
        // //         displayFinanceNotifications(data)
        // //     })
        
        // // function displayFinanceNotifications(data) {
        // //     const ul = document.querySelector('#finance_notifications');
        // //     const notificationTypes = {};
            
        // //     data.forEach((notification) => {
        // //         if (!notificationTypes[notification.notification_type]) {
        // //         notificationTypes[notification.notification_type] = [];
        // //         }
        // //         notificationTypes[notification.notification_type].push(notification);
        // //     });
            
        // //     Object.keys(notificationTypes).forEach((type) => {
                
        // //         notificationTypes[type].forEach((notification) => {
        // //         const li = document.createElement('li');
        // //         if(notification.transfer__to === {{request.user.branch.id}}){
        // //             li.innerHTML = `<small><a href='{% url "finance:cash_transfer_list" %}'>${notification.notification}</a></small>`;
        // //         }
        // //         if(notification.expense__branch === {{request.user.branch.id}}){
        // //             li.innerHTML = `<small><a>${notification.notification}</a></small>`;
        // //         }
        // //         if(notification.invoice__branch === {{request.user.branch.id}}){
        // //             li.innerHTML = `<small><a>${notification.notification}</a></small>`;
        // //         }
        // //         ul.appendChild(li);
        // //         });
        // //     });
        // }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
              const cookies = document.cookie.split(";");
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }  
    </script> -->
</body>
</html>
