{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Techcity Pos System" />
    <meta name="Author" content="casy moyo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'assets/hint.css/hint.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='{% static "assets/boxicons/css/boxicons.css"%}' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- Bootstrap CSS -->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- use-bootstrao-select css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.0/dist/use-bootstrap-select.min.css">
    {% endblock css %}

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>

    <!-- use-bootstrao-select js -->
    <script src="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.0/dist/use-bootstrap-select.min.js"></script>
  

    <!-- Bootstrap JS + Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    
    <title>
        {% block title %}Techcity{% endblock title %}
    </title>
</head>
<style>
    .l-p{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: fixed;
        right: 0;
        z-index: 1000;
    }
    .l-p button{
        border-top-left-radius: 70%;
        border-bottom-left-radius: 70%;
    }

    .layby-btn {
        background-color: #007bff; 
        color: white;
    }
    .layby-btn:hover {
        background-color: #0056b3; 
    }

    .paylater-btn {
        background-color: #28a745;
        color: white;
    }

    .paylater-btn:hover {
        background-color: #1e7e34; 
    }

    .monthly-btn {
        background-color: #ffc107; 
        color: black;
    }

    .monthly-btn:hover {
        background-color: #d39e00; 
    }

    .hover-span {
        display: none;
        position: absolute;
        top: 0; 
        right: 100%; 
        background-color: #f8f9fa;
        padding: 5px 10px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        white-space: nowrap;
        z-index: 10;
        transform: translateX(100%); 
        opacity: 0; 
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        cursor: pointer;
    }

    .hover-span.show {
        display: inline-block;
        transform: translateX(0); 
        opacity: 1; 
    }
    .hover-span.show + .l-p-button{
        border-radius: none;
    }

</style>
<body>
    <div class="techcity">
        <div class="row">
            <div class=" top-bar">
                <div class="nav-bar fixed-top bg-light"> {% include "base/navbar.html" %} </div>
                <div class='row' style='margin-top:58px;'>
                    <div class="aside-bar text-light" style="background: #242140 !important; width: 150px;"> {% include "base/aside.html" %} </div>
                    <div class="app-area col w-100 bg-light overflow">
                        <div class="l-p">
                            <!-- First Button -->
                            <div class="position-relative d-inline-block mb-2">
                                <button class="btn layby-btn btn-sm toggle-btn" onclick="toggleSpan(this)">
                                    L
                                </button>
                                <span class="hover-span" onclick="showModalWithLoader(this, 'Laybys')">Layby 
                                    <span class="badge bg-sm  layby-btn badge-custom text-light">5</span>
                                </span>
                            </div>
                        
                            <!-- Second Button -->
                            <div class="position-relative d-inline-block mb-2">
                                <button class="btn paylater-btn btn-sm toggle-btn" onclick="toggleSpan(this)">
                                    P
                                </button>
                                <span class="hover-span" onclick="showModalWithLoader(this, 'Paylaters')">PayLater 
                                    <span class="badge paylater-btn bg-sm badge-custom text-light">3</span>
                                </span>
                            </div>
                        
                            <!-- Third Button -->
                            <div class="position-relative d-inline-block">
                                <button class="btn monthly-btn btn-sm toggle-btn" onclick="toggleSpan(this)">
                                    M
                                </button>
                                <span class="hover-span" onclick="showModalWithLoader(this, 'Montly Installments')">Monthly Payments 
                                    <span class="badge monthly-btn bg-sm badge-custom text-light">7</span>
                                </span>
                            </div>
                        </div>
                        
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                {{ message }}
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-right">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="">
                                <p class='fw-bold'>Notifications</p>
                            </div>
                            <table class="table" id="notificationTable">
                                <thead>
                                    <tr>
                                        <th>Product name</th>
                                        <th>Current Stock</th>
                                        <th>Most Recent Stock</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="branchModal" tabindex="-1" aria-labelledby="loaderModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-dialog-right">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div>
                                <p class='fw-bold'>Choose Branch</p>
                            </div>
                            <div class="row row-cols-3 g-3"> 
                                {% for branch in branches %}
                                    <div class="col">
                                        <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-center" 
                                           href="{% url 'company:switch_branch' branch.id %}">
                                            {{ branch.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg"> 
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalContent">
                            <div class="d-flex justify-content-between w-100">
                                <div>
                                    <span class="p-2 bg-light">Total amount $</span>
                                </div>
                                <div>
                                    <input type="search" oninput="" class="form-control form-control-sm">
                                </div>
                            </div>
                            <table class="table mt-2">
                                <thead class="table-dark">
                                    <th>#</th>
                                    <th>Invoice #</th>
                                    <th>Customer</th>
                                    <th>Amount owing</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <!-- js population -->
                                </tbody>
                            </table>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.min.js'%}"></script>    
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        const notisModal = new bootstrap.Modal(document.querySelector('#notificationModal'))
        const notisButton = document.querySelector('#notisBtn')

        const branchModal = new bootstrap.Modal(document.querySelector('#branchModal'))
        const branchButton = document.querySelector('#branchButton')

        const tableWrapper = document.querySelector('#detailTable_wrapper')

        document.addEventListener('DOMContentLoaded', function() {
            // fetchNotifications();
        });

        function toggleSpan(button) {
            const span = button.nextElementSibling;

            if (span.classList.contains('show')) {
                span.classList.remove('show');
            } else {
                document.querySelectorAll('.hover-span').forEach(s => s.classList.remove('show'));
                span.classList.add('show');
            }
        }

        function showModalWithLoader(spanElement, title) {
            spanElement.classList.remove('show');
            const modal = new bootstrap.Modal(document.getElementById('infoModal'));
            const modalTitle = document.getElementById('modalLabel');
            modalTitle.innerText = title;
            modal.show();
        }
        
        document.querySelector('.col-12')?.classList.add('w-100') 
        // document.addEventListener("DOMContentLoaded", function () {
        //     const buttons = document.querySelectorAll(".toggle-btn");

        //     buttons.forEach((button) => {
        //         button.addEventListener("click", function () {
        //             const span = button.nextElementSibling;
        //             button.classList.add("fade-out");
        //             span.classList.remove("d-none");
        //             span.classList.add("show");
        //         });
        //     });
        // });

        // function fetchNotifications() {
        //     fetch('{% url "inventory:reorder_from_notifications" %}')
        //         .then(response => response.json())
        //         .then(data => {
        //             console.log(data)
        //             const tableBody = document.querySelector('#notificationTable tbody');
        //             tableBody.innerHTML = ''; 
        //             data.forEach(notification => {
        //                 const row = document.createElement('tr');
        //                 row.innerHTML = `
        //                     <td>${notification.inventory__product__name}</td>
        //                     <td>${notification.inventory__quantity}</td>
        //                     <td>${notification.quantity}</td>
        //                     <td>
        //                         <button class="btn bx bx-list-plus" data-id="${notification.inventory__id}" onclick="addToOrderList(this);"></button>
        //                         <button class="btn bx bx-x text-danger" data-id="${notification.inventory__id}" onclick="dontAddToOrderList(this);"></button>
        //                     </td>
        //                 `;
        //                 tableBody.appendChild(row);
        //             });
        //         })
        //         .catch(error => console.error('Error fetching notifications:', error));
        // }

        // function addToOrderList(button) {
        //     const inventoryId = button.getAttribute('data-id');
        //     fetch('{% url "inventory:reorder_from_notifications" %}', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'X-CSRFToken': getCookie('csrftoken')
        //         },
        //         body: JSON.stringify({ inventory_id: inventoryId, action_type:'add' })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.success) {
        //             alert('Added to order list successfully!');
        //             fetchNotifications(); 
        //         } else {
        //             alert('Error: ' + data.message);
        //         }
        //     })
        //     .catch(error => console.error('Error adding to order list:', error));
        // }

        // function dontAddToOrderList(button) {
        //     const inventoryId = button.getAttribute('data-id');
        //     fetch('{% url "inventory:reorder_from_notifications" %}', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'X-CSRFToken': getCookie('csrftoken')
        //         },
        //         body: JSON.stringify({ inventory_id: inventoryId, action_type:'remove' })
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.success) {
        //             alert('Added to order list successfully!');
        //             fetchNotifications(); 
        //         } else {
        //             alert('Error: ' + data.message);
        //         }
        //     })
        //     .catch(error => console.error('Error adding to order list:', error));
            
        // }

        branchButton.addEventListener('click', ()=>{
            branchModal.show()
        })

        notisButton.addEventListener('click', ()=>{
            notisModal.show()
        })

        // // $.ajax({
        // //     url: '{% url "finance:finance_notifications_json" %}',
        // //     type: 'GET',
        // //     }).done(function(response) {
        // //         const data = response;
        // //         displayFinanceNotifications(data)
        // //     })
        
        // // function displayFinanceNotifications(data) {
        // //     const ul = document.querySelector('#finance_notifications');
        // //     const notificationTypes = {};
            
        // //     data.forEach((notification) => {
        // //         if (!notificationTypes[notification.notification_type]) {
        // //         notificationTypes[notification.notification_type] = [];
        // //         }
        // //         notificationTypes[notification.notification_type].push(notification);
        // //     });
            
        // //     Object.keys(notificationTypes).forEach((type) => {
                
        // //         notificationTypes[type].forEach((notification) => {
        // //         const li = document.createElement('li');
        // //         if(notification.transfer__to === {{request.user.branch.id}}){
        // //             li.innerHTML = `<small><a href='{% url "finance:cash_transfer_list" %}'>${notification.notification}</a></small>`;
        // //         }
        // //         if(notification.expense__branch === {{request.user.branch.id}}){
        // //             li.innerHTML = `<small><a>${notification.notification}</a></small>`;
        // //         }
        // //         if(notification.invoice__branch === {{request.user.branch.id}}){
        // //             li.innerHTML = `<small><a>${notification.notification}</a></small>`;
        // //         }
        // //         ul.appendChild(li);
        // //         });
        // //     });
        // }

        const apiUrl =''//update endpoint
        async function fetchCustomerData() {
            try {
                const response = await fetch(apiUrl);  
                const customers = await response.json();  

                if (Array.isArray(customers) && customers.length > 0) {
                    const tableBody = document.getElementById("laybyTableBody");
                    const recordCount = document.getElementById("count");
                    tableBody.innerHTML = '';

                    customers.forEach(customer => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${customer.name}</td>
                            <td>${product}</td>
                            <td>${amount}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Send
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"  href='https://wa.me/{{customer.account.customer.phone_number}}' class="text-dark">
                                            <i class='bx bxl-whatsapp'></i></a></li>
                                        <li><a class="dropdown-item"  href='mailto:{{customer.account.customer.email}}' class="text-dark">
                                            <i class='bx bx-envelope'></i></a></li>
                                    </ul>
                                </div>
                            </td>
                        `;
                        tableBody.appendChild(row);
                    });

                    // Updating the record count
                    recordCount.innerText = customers.length;
                } else {
                    alert('No customer data available.');
                }
            } catch (error) {
                console.error('Error fetching customer data:', error);
                alert('Failed to load customer data. Please try again later.');
            }
        }

        // document.getElementById('laybyModal').addEventListener('shown.bs.modal', fetchCustomerData);

    
        async function fetchCustomerData() {
            try {
                const response = await fetch('',{  //update url
                method: "GET",
                });
                const customers = await response.json();  

                if (Array.isArray(customers) && customers.length > 0) {
                    const tableBody = document.getElementById("PaylaterTableBody");
                    const recordCount = document.getElementById("count");
                    tableBody.innerHTML = '';

                    customers.forEach(customer => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${customer.name}</td>
                            <td>${product}</td>
                            <td>${amount}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Send
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"  href='https://wa.me/{{customer.account.customer.phone_number}}' class="text-dark">
                                            <i class='bx bxl-whatsapp'></i></a></li>
                                        <li><a class="dropdown-item"  href='mailto:{{customer.account.customer.email}}' class="text-dark">
                                            <i class='bx bx-envelope'></i></a></li>
                                    </ul>
                                </div>
                            </td>
                        `;
                        tableBody.appendChild(row);
                    });

                    recordCount.innerText = customers.length;
                } else {
                    showError("No customer data available.");
                }
            } catch (error) {
                console.log(error)
            }
        }

        // document.getElementById('PaylaterModal').addEventListener('shown.bs.modal', fetchCustomerData);


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
              const cookies = document.cookie.split(";");
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }  
    </script>
</body>
</html>
