{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css'%}">
<div class="services">
    <header>
        <h2>Linkspot</h2>
    </header>
    <div class="content">
        <aside>
            <ul>
                <li>Services</li>
                <li>Members</li>
                <li>Logs</li>
                <li>Settings</li>
            </ul>
        </aside>
        <div class="main-content d-flex">
            <nav>
                <h5>Services</h5>
                <button>Add services</button>
            </nav>
            <div class="service-cards">
                <div class="row">
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5>Hourly service</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5>Hourly service</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5>Hourly service</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h5>Hourly service</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>