<table>
    <thead>
        <th>name</th>
        <th>Products</th>
        <th>Life time</th>
        <th>Acc P</th>
        <th>Acc R</th>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplier.name }}</td>
                <td>
                    {% for product in products %}
                        {% if supplier.supplier in product.suppliers.all %}
                            {{ product.name }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for supplier, details in life_time.items %}
                        {% if lf == supplier %}
                            {{ lf }}
                            {{ lf.supplier.count }}
                            {{ lf.supplier.amount }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if supplier.balance > 0 %}
                        {{ supplier.balance }}
                    {% endif %}
                </td>
                <td>
                    {% if supplier.balance < 0 %}
                        {{ supplier.balance }}
                    {% endif %}
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>