<table>
    <thead>
        <th>name</th>
        <th>Products</th>
        <th>Life time</th>
        <th>Acc P</th>
        <th>Acc R</th>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.supplier.name }}</td>
                <td>
                    {% for product in products %}
                        {% if supplier.supplier in product.supplier.all %}
                            {{ product.category }}
                        {% endif %}
                    {% endfof %}
                </td>
                <td></td>
                <td>
                    {% if supplier.balance > 0 %}
                        {{ supplier.balance }}
                    {% endif %}
                </td>
                <td>
                    {% if supplier.balance < 0 %}
                        {{ supplier.balance }}
                    {% endif %}
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>