{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="stocktake">
    <div class="d-flex align-items-center justify-content-between rounded shadow header py-2 mb-4">
        <h5 class="px-1">Stocktake</h5>
        <div>
            <button class="btn btn-sm btn-outline-dark" id="createStockTakeButton">
                <i class="bx bx-plus"></i>
                stocktake
            </button>
        </div>
    </div>

    <!-- stocktake table -->

    <div class="table-responsive">
        <table class="table table-striped" id="stock" style="width: 100%;">
            <thead class="table-dark">
                <th>#</th>
                <th>Stocktake #</th>
                <th>Status</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for item in stocktakes %}
                    <tr>
                        <td><small>{{ forloop.counter }}</small></td>
                        <td><small>{{ item.s_t_number }}</small></td>
                        <td><small>
                            {% if not result %}
                                Empty
                            {% endif %}
                        </small></td>
                        <td>
                            <small>
                                <button class="btn btn-sm bx bx-show"></button>
                                <button class="btn btn-sm bx bx-trash"></button>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
<script>
    new DataTable('#stock', {
        pagin:false
    })
    document.getElementById('createStockTakeButton').addEventListener('click', async () => {
        const confirmation = await Swal.fire({
            title: 'Are you sure?',
            text: 'Do you want to create a stocktake record?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, create it!',
            cancelButtonText: 'No, cancel',
        });

        if (confirmation.isConfirmed) {
            try {
                const response = await fetch('/inventory/stocktake/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({}) 
                });

                const result = await response.json();
                console.log(result)
                if (response.ok) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: result.message,
                    }).then(() => {
                        location.reload(); 
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: result.message,
                    });
                }
            } catch (error) {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'An Error Occurred',
                    text: 'An unexpected error occurred while creating the stock take. Please try again.',
                });
            }
        } else {
            Swal.fire({
                icon: 'info',
                title: 'Action Cancelled',
                text: 'No stocktake record was created.',
            });
        }
    });
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
{% endblock content %} 