{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Services{% endblock %}

{% block content %}
<div class="container">
  <div class="Services">
    <div class="nav-services">
      <div class="d-flex align-items-center justify-content-between rounded shadow header p-2 mb-4">
        <h5 data-info="{{service_data.id}}">{{service_data.service_name}}</h5>
        <div>
          <a class="btn btn-outline-dark ms-10 btn-sm" href="{%url 'booking:service_view'%}">Back</a>
      </div>
    </div>
  </div>
</div>
  
  <!-- navigation bar -->
  <div class="nav-container d-flex justify-content-between align-items-center border rounded p-2">
      <div class="d-flex">
        <ul class="nav nav-pills justify-content-center" id="tableNav" role="tablist">
          <li class="nav-item">
            {% for item in item_of_use %}
              <button class="btn btn-sm text-dark active" id="service-tab" data-bs-toggle="tab" type="button" role="tab" onclick="getLogs('{{service_data.id}}')">
                {{ item.name.item_of_use_name }}
              </button>
            {% endfor %}
          </li>
        </ul>
      </div>
  </div>
  <div>
    <input type="text" class="form-control form-control-sm w-25 mt-3" id="searchBar" placeholder="search...">
  </div>
  <div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="tables" role="tabpanel" aria-labelledby="table">
      <div class="table-responsive">
        <table class="table border table-bordered table-striped table-hover table-sm rounded w-100" id="service_personal_details">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>By User</th>
            </tr>
          </thead>
          <tbody id="service_details_table">
            <!--Populate by js-->
          </tbody>
        </table>
      </div>
  </div>



</div>
<script>
  document.getElementById('searchBar').addEventListener('input', function () {
    const query = this.value.toLowerCase();
    const rows = document.querySelectorAll('tbody tr');
    rows.forEach(row => {
      const text = row.textContent.toLowerCase();
      row.style.display = text.includes(query) ? '' : 'none';
    })
  })  
  //  new DataTable('#service_personal_details', {
  //     paging:false
  // })
  
  getLogs = (serviceId) =>{
    const tBody = document.getElementById('service_details_table');
    try{
      fetch("{% url 'booking:service_details_crud' %}",{
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
        }
      }).then(answer => answer.json())
      .then(data =>{
        if(data.success){
          Swal.fire({
            'icon': 'success'
          })
          tBody.innerHTML = '';
          info = data.details.forEach(item =>{
            console.log(item)
            const tRow = document.createElement('tr');

            tId = document.createElement('td');
            tId.textContent = item.id;
            tRow.appendChild(tId);

            tDate = document.createElement('td');
            tDate.textContent = item.service_name ;
            tRow.appendChild(tDate);

            tUser = document.createElement('td');
            tUser.textContent = item.description;
            tRow.appendChild(tUser);

            tBody.appendChild(tRow);
          });
        }
      })
    }catch (error){

    }
  }
</script>
{%endblock%}