.{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Add Service Products{% endblock %}
{% block content %}
<style>
   
#id_service_range {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1rem;
    color: #333;
}

#id_service_range option {
    padding: 5px 10px;
}

    
</style>
<div class="container me-5">
    <div class="Service_Products">
        <div class="nav-service">
            <div class="d-flex align-items-center justify-content-between rounded shadow header p-2 mb-4">
                <h5>Services Products</h5>
                <div>
                    <button class="btn btn-outline-dark btn-sm ms-10">Analytics</button>
                    <a class="btn btn-outline-dark ms-10 btn-sm" href="{%url 'booking:member'%}">Members</a> 
                </div>
            </div>
        </div>
        added form-control-sm
        <div class="row">
            <div class ="col-9" >
                <div class="d-flex align-items-center justify-content-between mb-4 pb-2 border-bottom">
                    <h5 class="text-dark mb-0">Services</h4>
                    <div class="d-flex">
                        <input 
                            type="text" 
                            class="form-control me-2 form-control-sm"  
                            id="searchBar" 
                            placeholder="Search Service Product" 
                            oninput="filterProducts()"
                        />
                    </div>
                </div>
                    <div class="container mt-4">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                                <th>Action</th>
                                <!-- <th>Total</th> -->
                            </thead>
                            <tbody id="service_productsTableBody"></tbody>
                        </table> 
                        <button id="saveItemofUse" class="'btn btn-primary mt-3">Add Item</button>
                    </div>
                </div>
            <div class="col-3">
                <h4 class="mb-4">Add Service</h4>
                <form id="AddServiceProduct">
                    <div id="div_id_service_name" class="mb-3"> 
                        <label for="id_service_name" class="form-label requiredField">
                            Service Name<span class="asteriskField">*</span>
                        </label>
                        <div class="d-flex align-content-center">
                            <select name="service_name" class="select form-select" required="" id="id_service"> 
                                <option value="" selected="">---------</option> 
                                {%for service in services%}
                                    <option value="{{service.id}}">{{service.name}}</option>
                                {%endfor%}
                            </select>
                            <button type="button" class="btn btn-outline-dark bx bx-plus" data-bs-toggle="modal" data-bs-target="#addServiceModal"></button>
                        </div>
                        <div id="div_id_service" class="mb-3"> 
                            <label for="id_item_of_use" class="form-label requiredField">
                            Items of Use 
                            <span class="asteriskField">*</span>
                            </label>
                            <select name="itemofuse_name" class="select form-select" required="" id="id_item"> 
                                <option value="" selected="">---------</option> 
                                {%for item in items%}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                {%endfor%}
                                <button type="button" class="btn btn-outline-dark bx bx-plus" data-bs-toggle="modal" data-bs-target="#additemModal"></button>
                            </select>
                        </div>
                    <div id="div_id_service_quantity" class="mb-3"> 
                        <label for="id_service_quantity" class="form-label requiredField">
                            Quantity<span class="asteriskField">*</span>
                        </label> 
                        <input 
                            type="number" 
                            name="Item_quantity" 
                            class="form-control" 
                            id="id_service_quantity" 
                            placeholder="Enter Items of Use Quantity" 
                            required=""
                        >
                    </div>
                    <div id="div_id_cost" class="mb-3"> 
                        <label for="id_cost" class="form-label requiredField">
                            Cost<span class="asteriskField">*</span>
                        </label> 
                        <input 
                            type="number" 
                            name="cost" 
                            class="form-control" 
                            id="id_cost" 
                            placeholder="Enter Cost"
                            required=""
                            step="0.01">
                    </div>
                    <div id="div_id_unit_measure" class="mb-3">
                        <label for="id_unit_measure" class="form-label requiredField">
                            Unit measure
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="d-flex align-content-center">
                            <select name="unit_measure" class="select form-select" required="" id="id_unit_measure">
                                <option value="" selected="">---------</option>
                                {%for um in unit_data%}
                                    <option value="{{um.id}}">{{um.measurement}}</option>
                                {%endfor%}
                            </select>
                            <button type="button" class="btn btn-outline-dark bx bx-plus" data-bs-toggle="modal" data-bs-target="#addunitmeasureModal"></button>
                        </div>
                    </div>
                    <div id="div_id_service_range" class="mb-3">
                        <label for="id_service_range" class="form-label requiredField">
                            Service range
                            <span class="asteriskField">*</span>
                        </label>
                        <div class="d-flex align-items-center">
                            <select name="service_range" class="select form-select" required="" id="id_service_range">
                                <option value="" selected="">---------</option>
                                <option value="fixed">✔ Fixed</option>
                                <option value="range">✔ Range</option>
                            </select>
                            <button type="button" class="btn btn-outline-dark bx bx-plus" data-bs-toggle="modal" data-bs-target="#addservicerangeModal"></button>
                        </div>
                        <div class="d-none mt-3" id="fixed">
                            <label for="id_fixed_inp" class="form-label requiredField">
                                Fixed units
                                <span class="asteriskField">*</span>
                            </label>
                            <input type="number" name="fixed_inp" id="fixed_inp" class="form-control">
                        </div>
                        <div class="d-none mt-3" id="range">
                            <label for="id_fixed_inp" class="form-label requiredField">
                                Range units
                                <span class="asteriskField">*</span>
                            </label>
                            <div class="d-flex align-items-center">
                                <div class="d-flex align-items-center">
                                    <label for="from" id="range_inp_from">From</label>
                                    <input type="number" name="range_inp" id="range_inp_from" class="form-control">
                                </div>
                                <div class="d-flex align-items-center mx-1">
                                    <label for="from" id="range_inp_to">To</label>
                                    <input type="number" name="range_inp" id="range_inp_to" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>             
                    <div class="d-flex justify-content-between mt-3">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="button" class="btn btn-primary" onclick="saveToCart()">Save</button> <!-- linked from the script  2-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addServiceModalLabel">Add New Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addServiceForm" action="{% url 'booking:service_crud' %}" method="POST">
                    {% csrf_token %}
                    {{service | crispy}}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-secondary btn-sm">
                            <i class="bx bx-save"></i>
                            Service
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addunitmeasureModal" tabindex="-1" aria-labelledby="addunitmeasureModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addunitmeasureModal">Add Unit Measure</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="unit_measurementForm"> 
                    {% csrf_token %}
                    {{unit_measurement | crispy}}
                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary">Add unit_measure</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addservicerangeModal" tabindex="-1" aria-labelledby="addservicerangeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addserviceraneeModal">Add Service Range</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="service_rangeForm"> 
                    {% csrf_token %}
                    {{service_range | crispy}}
                    <div class="d-flex justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary">Add Service Range</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    /*
        Implementation of a list of objects (item of use) to be rendered to a table before saving:
        1. define a global list variable to hold the item of use and its attributes 
            {
                'item_of_use_name':string,
                'item_of_use_id:'integer
                'unit of measure_name':string
                'range':integer either to and from or just one,
            }
        2. add a function or an listener on the save button taking all the data inserted to pushing it to
        our global list.
        3. check for exitstig item of service in our global list if exists a message is rendered back.
        4. create a display function which wil populate our table data with ptem saved in the object.
        5. to have a delete function in the table.
    */

    // 1
    let cart = []
    let count = 0

    //2
    const saveToCart = () =>{
        /* this is linked to the save button element 
            make all the variables from the cart form for instance,
            const serviceNameEl = document.getElementById('id_service')
            const itemOfUseEl = document.getElementById('id_unit_measure')
        */
        const serviceNameEl = document.getElementById('id_service')
        const itemOfUseEl = document.getElementById('id_unit_measure')
        const unitOfMeasurement = document.getElementById('id_unit_measure')
        const serviceRange = document.getElementById('id_service_range')
        let fixed = ''
        let range = ''

        // to get the item of use name to be readable in the table we need to access the  options part of it
        const unitOfMeasurementName = itemOfuseEl.options[unitOfMeasurement.selectedIndex].textContent

        // make a condition to check the type of range to use
        if(serviceRange === 'fixed'){
            fixed = document.getElementById('id_')
        }else{
            const to = document.getElementById('id_to_inp').value
            const from =  document.getElementById('id_from_inp').value
            range = `${to}${unitOfMeasurementName} - ${from}${unitOfMeasurementName}`
        }

        let existingItemOfUse = cart.find((item) => item.item_of_use_id === itemOfUseEl.value);
        if(existingItemOfUse){
            Swal.fire({
            icon:'error',
            text:'Item of use exists',
            title:'error'
          })
          return;
        }else{
            count +=1;
            newItem = {
                id:count,
                item_of_use_name:  itemOfUseEl.value,
                service_range: `${ fixed ? fixed : range}`,
                unit_of_measurement_id: unitOfMeasurement.value,
                unit_of_measurement_name: unitOfMeasurementName,
                cost:cost || 0,
                quantity:quantity 
            }
        }

        cart.push(newItem)
        isCartEmpty()
        displayItems()
    }

    const  displayItems = (data) => {
        const displayTable = document.getElementById('service_productsTableBody')
        displayTable.innerHTML =''

        data.forEach((item)=>{
            displayTable.innerHTML +=`
                <td><small>${ item.count }</small></td>
                <td><small>${ item.item_of_use_name }</small></td>
                <td><small>${ item.service_range}</small></td>
                <td><small>${ item.cost }</small></td>
                <td><small>${ item.quantity }</small></td>
                <td><small><button class='btn btn-outlin-dark bx bx-trash onclick='removeItem(${item.count})'></button></small></td>
            `
        })

    }

    const removeItem = (id) =>{
        cart = cart.filter((item) => item.id !== id);
        updateCartDisplay();
    }

    const isCartEmpty = () => {
        if (cart.length === 0){
            confirmBtndisabled=true;
        }else{
            confirmBtndisabled=false;
        }
    }
    isCartEmpty()

    let service = ''
    const serviceEl = document.getElementById('id_service_range')
    serviceEl.addEventListener('change', ()=>{
        const fixed = document.getElementById('fixed');
        const range = document.getElementById('range');
        let value = serviceEl.value;

        if(value === 'fixed'){
            fixed.classList.remove('d-none')
            range.classList.add('d-none')
            service = value
        }else if (value === 'range'){
            fixed.classList.add('d-none')
            range.classList.remove('d-none')
            service = value
        }else{
            fixed.classList.add('d-none')
            range.classList.add('d-none')
            service = null
        }
        console.log(service, 'value')

    })


    document.getElementById('saveItems').addEventListener('submit', function(e){
        e.preventDefault();

        const serviceName = document.getElementById('id_service').value
        const name = serviceName.options[serviceName.selectedIndex].textContent

        const data = {
            service_namae:data,
            items:cart
        }

        try 
        {
            fetch('{% url "booking:service_product_crud" %}', {
            method: 'POST',
            headers: 
            {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken()
            },
            body: JSON.stringify(data),
            })
            .then(respone => respone.json())
            .then(respone => {
                if(respone.success){
                    swal.fire({
                        Text: 'success',
                        icon: 'success',
                        title : 'successfully added'
                    })
                }
                else{
                    swal.fire({
                        Text: respone.message,
                        icon: 'error',
                        title : 'error',
                    })
                }
            })
        }
        catch (error)
        {
            console.error('Error:', error);
        }
        
    })

    document.getElementById('AddServiceProduct').addEventListener('submit', function(e) {
        e.preventDefault(); 

        try
        {

        fetch('{% url "booking:service_product_crud" %}', {  
            method: 'POST',
            body: formData,
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(respone => {
            if (respone.success) {
                swal.fire({
                        Text: 'success',
                        icon: 'success',
                        title : 'successfully added'
                
                    })
                }
        
            else{
                    swal.fire({
                        Text: respone.response,
                        icon: 'error',
                        title: 'error',
                    })
                }
             })
        }

          catch (error)
        {
            console.error('Error:', error);
        }
    })
    
    document.getElementById('searchBar').addEventListener('input', function () {
     const query = this.value.toLowerCase();
     const rows = document.querySelectorAll('tbody tr');
        rows.forEach(row => {
            const text = row.textContent.toLowerCase();
            row.style.display = text.includes(query) ? '' : 'none';
        })
    })   
    
    function getCSRFToken() {
        let cookieValue = null;
        const name = 'csrftoken';
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}